/* Creates a linear gradient between two colors */
@mixin gradient($first, $last, $background: false, $rotation: false) {

  $angle: 0deg;

  @if ($rotation) {
    $angle: $rotation;
  }

  background: $first; /* Old browsers */

  @if ($background) {
    background: url($background), -moz-linear-gradient($angle, $first 0%, $last 100%); /* FF3.6+ */
    background: url($background), -webkit-linear-gradient($angle, $first 0%,$last 100%); /* Chrome10+,Safari5.1+ */
    background: url($background), -o-linear-gradient($angle, $first 0%,$last 100%); /* Opera 11.10+ */
    background: url($background), -ms-linear-gradient($angle, $first 0%,$last 100%); /* IE10+ */
    background: url($background), linear-gradient($angle, $last 0%,$first 100%); /* W3C */
  } @else {
    background: -moz-linear-gradient($angle, $first 0%, $last 100%); /* FF3.6+ */
    background: -webkit-linear-gradient($angle, $first 0%,$last 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient($angle, $first 0%,$last 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient($angle, $first 0%,$last 100%); /* IE10+ */
    background: linear-gradient($angle, $last 0%,$first 100%); /* W3C */
  }

}

@mixin transition($property: all, $time: 400ms) {
  transition-timing-function: ease-in-out;
  -webkit-transition: $property $time;
  -moz-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}

@mixin translate($x: 0, $y: 0) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

/* Devuelve un color (claro u oscuro) dependiendo del fondo */
@function calculateTextColor($bg, $dark, $light){

  $color: $light;

  @if lightness($bg) > 70% {
    $color: $dark;
  }

  @return $color;

}