$text-color: #4D4D4D;
$primary-color: #CC0000;

@font-face {
  font-family: 'eurostileregular';
  src: url('../fonts/eurosti-webfont.woff2') format('woff2'),
  url('../fonts/eurosti-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  color: $text-color;
  font-weight: 400;
}

header {

  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;

  #main-menu,
  #main-menu > li,
  #main-menu > li > a {
    height: 74px;
  }

  #main-menu {

    padding: 0;
    margin: 50px 0 0;

    li {
      display: inline-block;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      color: $text-color;
    }

    > li > a:hover,
    > li.is-active > a,
    > li.active > a {
      background: none;
      color: $primary-color !important;
    }

    .submenu {

      border: none;
      background: rgba(255, 255, 255, 0.81);
      color: $text-color;
      border-right: 2px solid;

      .submenu {
        margin: 0 0 0 2px;
      }

      a {
        color: inherit;
      }

      .is-active > a,
      > .active > a,
      a:hover {
        background-color: $primary-color !important;
        color: #fff;
      }

      li:not(:last-child) {
        border-bottom: 2px solid;
      }

    }

  }

  #logo {
    margin: 20px 0;
  }

}

#mobile-menu {

  margin-top: 42px;

  a {
    color: $text-color;
  }

  .active > a {
    background: $primary-color;
    color: #fff;
  }

  .menu {
    display: block;
    padding-left: 25px;
  }

}

.off-canvas {
  height: 100%;
}

//Fist level active menu triangle
.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: $text-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.dropdown.menu > li.is-dropdown-submenu-parent.active > a:after,
.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a:after {
  border-color: $primary-color rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

//Second level menu triangle
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a:after {
  border-color: transparent transparent transparent $primary-color;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right.active>a:after,
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right.is-active>a:after {
  border-color: transparent transparent transparent #fff;
}

.row {
  max-width: 1100px;
}

.expanded {
  overflow: hidden;
}

.expanded.total {

  > .row {
    max-width: none;
    > .column, .columns {
      padding: 0;
    }
  }
}

.expanded.dark {
  background-color: #1A1A1A;
}

.expanded.red {
  color: #fff;
  padding: 34px 20px;
  font-weight: 100;
  background: $primary-color;
}

h1,
h4,
body.inicio h3,
body.negocios article h3,
.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  font-size: 36px;

  @media (max-width: 500px) {
    font-size: 7vw;
  }

}

h1:first-child:after,
body.inicio h3:after,
body.negocios article h3:after,
.heading:after {
  display: block;
  content: "";
  height: 10px;
  width: 100px;
  background-color: $primary-color;
  position: relative;
  margin: 0 auto;
}

.title-bar {
  background-color: $primary-color;
}

footer {
  background: #1A1A1A;
  padding: 30px 10px;
  font-size: 19px;
  text-align: center;
  color: #999999;
  font-family: 'eurostileregular', sans-serif;

  p {
    margin: 0;
    font-size: 17px;
  }

}

.button {
  background: $primary-color;
  color: #fff !important;
}
.button:hover {
  background: darken($primary-color, 10%);
}

.swiper-button-white {
  margin-top: -33px;
  width: 66px;
  height: 66px;
  border: 3px solid #fff;
  border-radius: 100%;
}

.no-bottom-padding {
 padding-bottom: 0 !important;
}
.no-padding {
 padding: 0 !important;
}

.mod_banner {

  height: 27vw;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}

body.trabaje .fondo,
#main_content {
  padding-bottom: 70px;
}

::-webkit-input-placeholder {
  color: #4D4D4D;
}

:-moz-placeholder { /* Firefox 18- */
  color: #4D4D4D;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #4D4D4D;
}

:-ms-input-placeholder {
  color: #4D4D4D;
}

textarea,
select,
input:not(.button) {
  border: 1px solid #666666;
}

.fv-has-error {
  textarea,
  select,
  input:not(.button) {
    border: 1px solid #f00;
  }
}

.full-width {
  width: 100%;
}

.error.yes {

  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 10px 20px;

  p:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f06a";
    display: inline-block;
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px;
  }

  p:last-child {
    margin-bottom: 0;
  }

}

.mas {
  color: $primary-color;
  font-style: italic;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.center-for-small {
  @media (max-width: 640px) {
    text-align: center;
  }
}