@font-face {
  font-family: 'eurostileregular';
  src: url("../fonts/eurosti-webfont.woff2") format("woff2"), url("../fonts/eurosti-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Lato', sans-serif;
  color: #4D4D4D;
  font-weight: 400; }

header {
  background-color: rgba(255, 255, 255, 0.76);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3; }
  header #main-menu,
  header #main-menu > li,
  header #main-menu > li > a {
    height: 74px; }
  header #main-menu {
    padding: 0;
    margin: 50px 0 0; }
    header #main-menu li {
      display: inline-block; }
    header #main-menu a {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      color: #4D4D4D; }
    header #main-menu > li > a:hover,
    header #main-menu > li.is-active > a,
    header #main-menu > li.active > a {
      background: none;
      color: #CC0000 !important; }
    header #main-menu .submenu {
      border: none;
      background: rgba(255, 255, 255, 0.81);
      color: #4D4D4D;
      border-right: 2px solid; }
      header #main-menu .submenu .submenu {
        margin: 0 0 0 2px; }
      header #main-menu .submenu a {
        color: inherit; }
      header #main-menu .submenu .is-active > a,
      header #main-menu .submenu > .active > a,
      header #main-menu .submenu a:hover {
        background-color: #CC0000 !important;
        color: #fff; }
      header #main-menu .submenu li:not(:last-child) {
        border-bottom: 2px solid; }
  header #logo {
    margin: 20px 0; }

#mobile-menu {
  margin-top: 42px; }
  #mobile-menu a {
    color: #4D4D4D; }
  #mobile-menu .active > a {
    background: #CC0000;
    color: #fff; }
  #mobile-menu .menu {
    display: block;
    padding-left: 25px; }

.off-canvas {
  height: 100%; }

.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #4D4D4D transparent transparent; }

.dropdown.menu > li.is-dropdown-submenu-parent.active > a:after,
.dropdown.menu > li.is-dropdown-submenu-parent.is-active > a:after {
  border-color: #CC0000 transparent transparent; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
  border-color: transparent transparent transparent #CC0000; }

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right.active > a:after,
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right.is-active > a:after {
  border-color: transparent transparent transparent #fff; }

.row {
  max-width: 1100px; }

.expanded {
  overflow: hidden; }

.expanded.total > .row {
  max-width: none; }
  .expanded.total > .row > .column, .expanded.total > .row .columns {
    padding: 0; }

.expanded.dark {
  background-color: #1A1A1A; }

.expanded.red {
  color: #fff;
  padding: 34px 20px;
  font-weight: 100;
  background: #CC0000; }

h1,
h4,
body.inicio h3,
body.negocios article h3,
.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  font-size: 36px; }
  @media (max-width: 500px) {
    h1,
    h4,
    body.inicio h3,
    body.negocios article h3,
    .heading {
      font-size: 7vw; } }

h1:first-child:after,
body.inicio h3:after,
body.negocios article h3:after,
.heading:after {
  display: block;
  content: "";
  height: 10px;
  width: 100px;
  background-color: #CC0000;
  position: relative;
  margin: 0 auto; }

.title-bar {
  background-color: #CC0000; }

footer {
  background: #1A1A1A;
  padding: 30px 10px;
  font-size: 19px;
  text-align: center;
  color: #999999;
  font-family: 'eurostileregular', sans-serif; }
  footer p {
    margin: 0;
    font-size: 17px; }

.button {
  background: #CC0000;
  color: #fff !important; }

.button:hover {
  background: #990000; }

.swiper-button-white {
  margin-top: -33px;
  width: 66px;
  height: 66px;
  border: 3px solid #fff;
  border-radius: 100%; }

.no-bottom-padding {
  padding-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

.mod_banner {
  height: 27vw;
  margin-bottom: 30px; }
  .mod_banner img {
    width: 100%; }

body.trabaje .fondo,
#main_content {
  padding-bottom: 70px; }

::-webkit-input-placeholder {
  color: #4D4D4D; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4D4D4D; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4D4D4D; }

:-ms-input-placeholder {
  color: #4D4D4D; }

textarea,
select,
input:not(.button) {
  border: 1px solid #666666; }

.fv-has-error textarea,
.fv-has-error select,
.fv-has-error input:not(.button) {
  border: 1px solid #f00; }

.full-width {
  width: 100%; }

.error.yes {
  color: #CC0000;
  border: 1px solid #CC0000;
  padding: 10px 20px; }
  .error.yes p:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f06a";
    display: inline-block;
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -3px; }
  .error.yes p:last-child {
    margin-bottom: 0; }

.mas {
  color: #CC0000;
  font-style: italic;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block; }

@media (max-width: 640px) {
  .center-for-small {
    text-align: center; } }

/*# sourceMappingURL=general.css.map */
