@import "../../../packages/flexcms/general_functions";

$text-color: #4D4D4D;
$primary-color: #CC0000;

body.inicio {

  #main_content {
    padding-bottom: 0;
  }

  h1 {
    color: #1A1A1A;
    font-size: 29px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .fondo-proyectos,
  .expanded.dark,
  article.container {
    padding: 60px 0 76px 0;
    text-align: center;

    p {
      font-size: 17px;
    }

    p:last-child {
      margin-bottom: 0;
    }

  }

  h3 {
    color: #fff;
    margin-top: 0;
  }

  .fondo-proyectos {
    background: url("../images/fondo-proyectos.jpg") no-repeat;
    background-size: cover;

    h3 {
      font-size: 29px;
    }

  }

  .mod_banner {

    margin-bottom: 0;
    height: 45vw;

    .swiper-button-red {
      border: none;
      transform: scale(1.6);

      @media (min-width: 1024px) {
        margin-top: 26px;
      }

    }

    .swiper-button-next {
      right: 10%;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-prev {
      left: 10%;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E");
    }

    a {
      color: #fff;
    }

    .texto {
      position: absolute;
      bottom: 10%;
      background: rgba(0, 0, 0, 0.88);
      padding: 17px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 54%;
      max-width: 722px;

      h3 {
        font-weight: bold;
        margin: 0;
      }

      h3:after {
        display: none;
        margin: 0;
      }

      p {
        font-size: 31px;
        line-height: 35px;
      }

      @media (max-width: 700px) {
        left: 0;
        right: 0;
        transform: translate(0);
        width: 100%;
        bottom: 0;

        h3 {
          font-size: 4vw;
        }

        p {
          font-size: 3vw;
        }

      }

    }

  }

  .mod_servicios,
  .mod_enlaces {

    position: relative;

    .swiper-container {
      width: 80%;
    }

  }

  $index-break: 500px;

  @media (max-width: $index-break) {

    .swiper-button-prev,
    .swiper-button-next {
      transform: scale(0.5) !important;
    }

    .swiper-button-prev {
      left: -11px;
    }
    .swiper-button-next {
      right: -11px;
    }
  }

  .mod_servicios  {

    .swiper-button-prev,
    .swiper-button-next {
      top: 48%;
      @media (max-width: $index-break) {
        top: 43%;
      }
    }

  }

  .mod_enlaces {

    .swiper-button-prev,
    .swiper-button-next {
      top: 74%;
      @media (max-width: $index-break) {
        top: 80%;
      }
    }

  }

  .mod_servicios {

    text-align: center;

    .texto {
      margin-bottom: 30px;
    }

    h4 {
      font-size: 17px;
      color: #fff;
      text-transform: uppercase;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .bottom {
      padding: 34px 0;
      display: none;
      h4 {
        font-size: 30px;
      }

      .mas {
        margin-top: 15px;
        font-style: normal;
        text-decoration: none;
      }

    }

    .top.swiper-slide {
      cursor: pointer;
    }

    .top.swiper-slide:after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 35px 35px 35px;
      border-color: transparent transparent #cc0000 transparent;
      position: relative;
      margin: 0 auto;
      margin-top: 48px;
      transform-origin: bottom;
      @include transition();
      transform: scale(0);
    }

    .top.swiper-slide.active:after {
      transform: scale(1);
    }

    a {
      color: #fff;
    }
  }

  .mod_html,
  .mod_articulo  {
    background: $primary-color;
    padding: 20px;
    color: #fff;
    font-weight: lighter;
    font-size: 16px;

    a {
      color: #fff;
    }

    h3 {
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 30px !important;
    }

    h5 {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 20px;
    }

    @media (min-width: 640px) {
      li {
        width: 50%;
        float: left;
      }
    }

  }

  .social {

    display: flex;
    align-items: center;
    justify-content: flex-end;

    h5 {
      @media (min-width: 640px) {
        display: inline;
      }
      margin-right: 10px;
    }
    .fa {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #fff;
      text-align: center;
      line-height: 40px;
      color: $primary-color;
      font-size: 22px;
    }
  }

  .expanded.red {
    .columns:not(:last-child) {
      border-right: 1px solid #F72D3C;
    }
  }

}

body.somos {
  .main_content {
    article {
      h1:after {
        display: none;
      }
    }
    article:first-child {
      h1:after {
        display: block;
      }
    }
    article:last-child {

      border-top: 19px solid #E6E6E6;
      margin-top: 34px;

      .row {
        max-width: 60rem;
        margin: 0 auto;
      }

      img {
        margin: 70px 0;
      }

      h1 {
        font-size: 30px;
        margin: 20px 0;
      }

      h2 {
        font-size: 17px;
        color: $primary-color;
        font-weight: bold;
      }

    }
  }
}

body.productos {

  @media (min-width: 640px) {
    article:nth-child(even) {
      text-align: right;
    }
  }

  article {

    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 50px;
    padding-bottom: 50px;

    @media (max-width: 640px) {
      text-align: center;
    }

    img {
      width: 375px;
      border: 1px solid #cacaca;
    }

    h1 {
      display: none;
    }
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 800;
      font-size: 25px;
      text-transform: uppercase;
      color: #333333;
      margin-top: 15px;
    }
  }

  article:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

}

body.capacitaciones {

  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #1A1A1A;
    margin: 0;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #1A1A1A;
    margin-bottom: 25px;
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
    font-weight: 800;
    text-transform: none;
    text-align: left;
    margin: 0 0 15px;
  }

  a {
    color: inherit;
  }

  article.list:not(:last-child) {
    border-bottom: 19px solid #CCCCCC;
    margin-bottom: 50px;
  }

  article.content {
    img {
      margin-bottom: 20px;
    }
  }

}

body.trabaje {

  .mod_contacto {

    border-top: 19px solid #E6E6E6;
    margin-top: 30px;

    > h3 {
      text-align: center;
      margin: 30px 0;
    }

    h3 {
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-size: 22px;
      color: #000;
    }

  }

  #main_content {
    padding-bottom: 0;
  }

  @media (min-width: 640px) {
    .fondo {
      background: url("../images/fondo-trabaje.jpg") no-repeat bottom right;
    }
  }

  .upload-cv {
    background: url("../images/ico-upload.png") no-repeat left center;
    padding-left: 79px;
    overflow: hidden;
    height: 56px;
    margin-bottom: 20px;

    .button {
      margin-top: 7px;
    }

    input {
      display: none;
    }

  }

  input[type="text"],
  input[type="email"],
  select {
    height: 3.5rem;
  }

}

body.contacto {
  .mapa {
    .flex-video {
      padding-bottom: 33%;
    }

    @media (max-width: 640px) {
      .flex-video {
        padding-bottom: 80%;
      }
    }

    #map {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }

  article {

    border-top: 19px solid #E6E6E6;
    border-bottom: 1px dotted #1A1A1A;
    padding-bottom: 30px;
    margin-bottom: 30px;

    h1,
    h2 {
      color: #1A1A1A;
      font-family: 'Lato', sans-serif;
      font-size: 29px;
      font-weight: bold;
      text-transform: uppercase;
    }

    h1:after {
      display: none;
    }

    h2 {
      font-size: 16px;
      margin-top: 25px;
      margin-bottom: 0;
    }

    a {
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }

  }

  .mod_contacto {
    h3 {
      color: #1A1A1A;
      font-family: 'Lato', sans-serif;
      font-size: 29px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 20px;
    }
  }

}

body.negocios {

  .list {
    h2 {
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-size: 22px;
      color: #000;
    }
  }

  .list:not(:last-child) {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  article {
    hr {
      height: 19px;
      background: #E6E6E6;
      border: none;
    }
    h4 {
      font-size: 27px;
      text-align: left;
    }
  }

  .servicios-swiper {
    margin-top: 60px;
  }

  .swiper-slide {
    display: inline-block;
  }

  .banner_103 {
    display: none;
  }

}

body.proyectos {

  .list {
    .columns, .column {
      margin-bottom: 30px;
    }
  }

  .proyecto {

    background: #E6E6E6;
    border-bottom: 2px solid $primary-color;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333333;
    height: 100%;
    display: block;

    .detail {
      padding: 15px;
    }

    h2 {
      font-size: 19px;
      border-bottom: 1px solid;
      margin: 0 20px 20px 20px;
    }

    a {
      color: inherit;
    }

    .text {
      font-size: 14px;

      p:last-child {
        margin-bottom: 0;
      }

    }

    img {
      width: 100%;
    }

  }

  article.detail {
    hr {
      height: 19px;
      border: none;
      background: #E6E6E6;
      margin: 40px 0;
    }

    .swiper-container {
      margin: 50px auto;
    }

  }

}