/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
body.inicio #main_content {
  padding-bottom: 0; }
body.inicio h1 {
  color: #1A1A1A;
  font-size: 29px;
  margin-bottom: 20px;
  margin-top: 0; }
body.inicio .fondo-proyectos,
body.inicio .expanded.dark,
body.inicio article.container {
  padding: 60px 0 76px 0;
  text-align: center; }
  body.inicio .fondo-proyectos p,
  body.inicio .expanded.dark p,
  body.inicio article.container p {
    font-size: 17px; }
  body.inicio .fondo-proyectos p:last-child,
  body.inicio .expanded.dark p:last-child,
  body.inicio article.container p:last-child {
    margin-bottom: 0; }
body.inicio h3 {
  color: #fff;
  margin-top: 0; }
body.inicio .fondo-proyectos {
  background: url("../images/fondo-proyectos.jpg") no-repeat;
  background-size: cover; }
  body.inicio .fondo-proyectos h3 {
    font-size: 29px; }
body.inicio .mod_banner {
  margin-bottom: 0;
  height: 45vw; }
  body.inicio .mod_banner .swiper-button-red {
    border: none;
    transform: scale(1.6); }
    @media (min-width: 1024px) {
      body.inicio .mod_banner .swiper-button-red {
        margin-top: 26px; } }
  body.inicio .mod_banner .swiper-button-next {
    right: 10%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E"); }
  body.inicio .mod_banner .swiper-button-prev {
    left: 10%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ff0000'%2F%3E%3C%2Fsvg%3E"); }
  body.inicio .mod_banner a {
    color: #fff; }
  body.inicio .mod_banner .texto {
    position: absolute;
    bottom: 10%;
    background: rgba(0, 0, 0, 0.88);
    padding: 17px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 54%;
    max-width: 722px; }
    body.inicio .mod_banner .texto h3 {
      font-weight: bold;
      margin: 0; }
    body.inicio .mod_banner .texto h3:after {
      display: none;
      margin: 0; }
    body.inicio .mod_banner .texto p {
      font-size: 31px;
      line-height: 35px; }
    @media (max-width: 700px) {
      body.inicio .mod_banner .texto {
        left: 0;
        right: 0;
        transform: translate(0);
        width: 100%;
        bottom: 0; }
        body.inicio .mod_banner .texto h3 {
          font-size: 4vw; }
        body.inicio .mod_banner .texto p {
          font-size: 3vw; } }
body.inicio .mod_servicios,
body.inicio .mod_enlaces {
  position: relative; }
  body.inicio .mod_servicios .swiper-container,
  body.inicio .mod_enlaces .swiper-container {
    width: 80%; }
@media (max-width: 500px) {
  body.inicio .swiper-button-prev,
  body.inicio .swiper-button-next {
    transform: scale(0.5) !important; }
  body.inicio .swiper-button-prev {
    left: -11px; }
  body.inicio .swiper-button-next {
    right: -11px; } }
body.inicio .mod_servicios .swiper-button-prev,
body.inicio .mod_servicios .swiper-button-next {
  top: 48%; }
  @media (max-width: 500px) {
    body.inicio .mod_servicios .swiper-button-prev,
    body.inicio .mod_servicios .swiper-button-next {
      top: 43%; } }
body.inicio .mod_enlaces .swiper-button-prev,
body.inicio .mod_enlaces .swiper-button-next {
  top: 74%; }
  @media (max-width: 500px) {
    body.inicio .mod_enlaces .swiper-button-prev,
    body.inicio .mod_enlaces .swiper-button-next {
      top: 80%; } }
body.inicio .mod_servicios {
  text-align: center; }
  body.inicio .mod_servicios .texto {
    margin-bottom: 30px; }
  body.inicio .mod_servicios h4 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px; }
  body.inicio .mod_servicios .bottom {
    padding: 34px 0;
    display: none; }
    body.inicio .mod_servicios .bottom h4 {
      font-size: 30px; }
    body.inicio .mod_servicios .bottom .mas {
      margin-top: 15px;
      font-style: normal;
      text-decoration: none; }
  body.inicio .mod_servicios .top.swiper-slide {
    cursor: pointer; }
  body.inicio .mod_servicios .top.swiper-slide:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 35px 35px 35px;
    border-color: transparent transparent #cc0000 transparent;
    position: relative;
    margin: 0 auto;
    margin-top: 48px;
    transform-origin: bottom;
    transition-timing-function: ease-in-out;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    transform: scale(0); }
  body.inicio .mod_servicios .top.swiper-slide.active:after {
    transform: scale(1); }
  body.inicio .mod_servicios a {
    color: #fff; }
body.inicio .mod_html,
body.inicio .mod_articulo {
  background: #CC0000;
  padding: 20px;
  color: #fff;
  font-weight: lighter;
  font-size: 16px; }
  body.inicio .mod_html a,
  body.inicio .mod_articulo a {
    color: #fff; }
  body.inicio .mod_html h3,
  body.inicio .mod_articulo h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 30px !important; }
  body.inicio .mod_html h5,
  body.inicio .mod_articulo h5 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0; }
  body.inicio .mod_html ul,
  body.inicio .mod_articulo ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body.inicio .mod_html li,
  body.inicio .mod_articulo li {
    margin-bottom: 20px; }
  @media (min-width: 640px) {
    body.inicio .mod_html li,
    body.inicio .mod_articulo li {
      width: 50%;
      float: left; } }
body.inicio .social {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  body.inicio .social h5 {
    margin-right: 10px; }
    @media (min-width: 640px) {
      body.inicio .social h5 {
        display: inline; } }
  body.inicio .social .fa {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    color: #CC0000;
    font-size: 22px; }
body.inicio .expanded.red .columns:not(:last-child) {
  border-right: 1px solid #F72D3C; }

body.somos .main_content article h1:after {
  display: none; }
body.somos .main_content article:first-child h1:after {
  display: block; }
body.somos .main_content article:last-child {
  border-top: 19px solid #E6E6E6;
  margin-top: 34px; }
  body.somos .main_content article:last-child .row {
    max-width: 60rem;
    margin: 0 auto; }
  body.somos .main_content article:last-child img {
    margin: 70px 0; }
  body.somos .main_content article:last-child h1 {
    font-size: 30px;
    margin: 20px 0; }
  body.somos .main_content article:last-child h2 {
    font-size: 17px;
    color: #CC0000;
    font-weight: bold; }

@media (min-width: 640px) {
  body.productos article:nth-child(even) {
    text-align: right; } }
body.productos article {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 50px;
  padding-bottom: 50px; }
  @media (max-width: 640px) {
    body.productos article {
      text-align: center; } }
  body.productos article img {
    width: 375px;
    border: 1px solid #cacaca; }
  body.productos article h1 {
    display: none; }
  body.productos article h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
    color: #333333;
    margin-top: 15px; }
body.productos article:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

body.capacitaciones h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 29px;
  color: #1A1A1A;
  margin: 0; }
body.capacitaciones h3 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: #1A1A1A;
  margin-bottom: 25px; }
body.capacitaciones h4 {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: 800;
  text-transform: none;
  text-align: left;
  margin: 0 0 15px; }
body.capacitaciones a {
  color: inherit; }
body.capacitaciones article.list:not(:last-child) {
  border-bottom: 19px solid #CCCCCC;
  margin-bottom: 50px; }
body.capacitaciones article.content img {
  margin-bottom: 20px; }

body.trabaje .mod_contacto {
  border-top: 19px solid #E6E6E6;
  margin-top: 30px; }
  body.trabaje .mod_contacto > h3 {
    text-align: center;
    margin: 30px 0; }
  body.trabaje .mod_contacto h3 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    color: #000; }
body.trabaje #main_content {
  padding-bottom: 0; }
@media (min-width: 640px) {
  body.trabaje .fondo {
    background: url("../images/fondo-trabaje.jpg") no-repeat bottom right; } }
body.trabaje .upload-cv {
  background: url("../images/ico-upload.png") no-repeat left center;
  padding-left: 79px;
  overflow: hidden;
  height: 56px;
  margin-bottom: 20px; }
  body.trabaje .upload-cv .button {
    margin-top: 7px; }
  body.trabaje .upload-cv input {
    display: none; }
body.trabaje input[type="text"],
body.trabaje input[type="email"],
body.trabaje select {
  height: 3.5rem; }

body.contacto .mapa .flex-video {
  padding-bottom: 33%; }
@media (max-width: 640px) {
  body.contacto .mapa .flex-video {
    padding-bottom: 80%; } }
body.contacto .mapa #map {
  width: 100%;
  height: 100%;
  position: absolute; }
body.contacto article {
  border-top: 19px solid #E6E6E6;
  border-bottom: 1px dotted #1A1A1A;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  body.contacto article h1,
  body.contacto article h2 {
    color: #1A1A1A;
    font-family: 'Lato', sans-serif;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase; }
  body.contacto article h1:after {
    display: none; }
  body.contacto article h2 {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0; }
  body.contacto article a {
    color: inherit; }
  body.contacto article a:hover {
    text-decoration: underline; }
body.contacto .mod_contacto h3 {
  color: #1A1A1A;
  font-family: 'Lato', sans-serif;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px; }

body.negocios .list h2 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  color: #000; }
body.negocios .list:not(:last-child) {
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 30px;
  padding-bottom: 30px; }
body.negocios article hr {
  height: 19px;
  background: #E6E6E6;
  border: none; }
body.negocios article h4 {
  font-size: 27px;
  text-align: left; }
body.negocios .servicios-swiper {
  margin-top: 60px; }
body.negocios .swiper-slide {
  display: inline-block; }
body.negocios .banner_103 {
  display: none; }

body.proyectos .list .columns, body.proyectos .list .column {
  margin-bottom: 30px; }
body.proyectos .proyecto {
  background: #E6E6E6;
  border-bottom: 2px solid #CC0000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #333333;
  height: 100%;
  display: block; }
  body.proyectos .proyecto .detail {
    padding: 15px; }
  body.proyectos .proyecto h2 {
    font-size: 19px;
    border-bottom: 1px solid;
    margin: 0 20px 20px 20px; }
  body.proyectos .proyecto a {
    color: inherit; }
  body.proyectos .proyecto .text {
    font-size: 14px; }
    body.proyectos .proyecto .text p:last-child {
      margin-bottom: 0; }
  body.proyectos .proyecto img {
    width: 100%; }
body.proyectos article.detail hr {
  height: 19px;
  border: none;
  background: #E6E6E6;
  margin: 40px 0; }
body.proyectos article.detail .swiper-container {
  margin: 50px auto; }

/*# sourceMappingURL=pages.css.map */
