@import "../../../packages/foundation/scss/foundation";
@import "../../../packages/flexcms/general_functions";
@import "generated/_colors";

/*****
 * VARIABLES PRINCIPALES
 ****/
$error-color: #ff2100; /* Color principal (hexadecimal) de los mensajes de error */
$color-text-light: desaturate(lighten($secondary-color, 30%), 80%);
$color-text-dark: desaturate(darken($secondary-color, 70%), 80%);
$radius: 0;
$menu-bg: false; /* Color del fondo (hexadecimal) del menu, 'false' para ningun fondo */
$menu-text-color: $primary-color; /* Color del texto del menu si el fondo esta en 'false' */
$text-and-titles: calculateTextColor($secondary-color, $color-text-dark, $color-text-light);

/*****
 * FIN VARIABLES PRINCIPALES
 ****/

/* Colores del menu */

@if $menu-bg == false {
  $menu-bg: transparent;
  $bg-lightness: lightness($primary-color);
  @if $bg-lightness > 70% {
    $menu-active-bg: darken($primary-color, 10%);
    $menu-hover-bg: darken($primary-color, 15%);
    $menu-dropdown-hover-bg: darken($primary-color, 20%);
  }
  @else {
    $menu-active-bg: lighten($primary-color, 4%);
    $menu-hover-bg: lighten($primary-color, 10%);
    $menu-dropdown-hover-bg: lighten($primary-color, 15%);
  }
}
@else {
  $bg-lightness: lightness($menu-bg);
  @if $bg-lightness > 70% {
    $menu-active-bg: darken($menu-bg, 10%);
    $menu-hover-bg: darken($menu-bg, 15%);
    $menu-dropdown-hover-bg: darken($menu-bg, 20%);
  }
  @else {
    $menu-active-bg: lighten($menu-bg, 5%);
    $menu-hover-bg: lighten($menu-bg, 10%);
    $menu-dropdown-hover-bg: lighten($menu-bg, 15%);
  }
}


/* This controls padding around the buttons. Use a variable or em value */
$padding: em-calc(10 20);

/* This controls button color. Set to one of our variables or a custom hex value */
$button-bg: $primary-color;

/* This whether button is full-width. Set to true or false */
$full-width: false;

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false;

/* This controls padding for inputs, they are a little different */
$is-input: false;

/* Using the available options */
button,
.button {
  @include gradient($primary-color, darken($primary-color, 15%));
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

button.small,
.button.small {
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
 @include gradient(darken($primary-color, 2%), darken($primary-color, 20%));;
  text-decoration: none;
}

.button.red {
  @include gradient(#F33A00, darken(#F33A00, 15%));
}

button.red:hover,
button.red:focus,
.button.red:hover,
.button.red:focus {
  @include gradient(darken(#F33A00, 5%), darken(#F33A00, 20%));
}

.postfix.button {
  line-height: 0;
}

a,
a:hover {
  color: $primary-color;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background-color: $primary-color;
  color: #fff;
}

ul.pagination :not(.current) {
  color: $text-and-titles;
}

ul.pagination {
  li.current a,
  li.current a:hover,
  li.current a:focus {
    background: $primary-color;
  }
  a {
    text-decoration: none;
    border-radius: $radius;
  }
}

.breadcrumbs {
  padding: 0;
  background-color: transparent;
  border: none;
  > * a,
  > * span {
    color: $primary-color;
  }
  * {
    text-transform: none !important;
  }
}

input[type="text"],
input[type="password"],
textarea {
  border-radius: $radius;
}

.row.error {
  margin-top: 20px;
}

[data-abide] {

  .error {
    input,
    textarea,
    select {
      border-radius: $radius $radius 0 0;
      border-color: $error-color !important;
    }
  }

  .error {
    label,
    label.error {
      color: $error-color;
    }
  }

  .error small.error,
  span.error,
  small.error {
    margin-bottom: 0 !important;
    background: $error-color !important;
  }

  small.error:last-child {
    border-radius: 0 0 $radius $radius;
    margin-bottom: 1em !important;
  }
}

.top-bar {
  background: none;
  margin-bottom: 0;
}

.contain-to-grid {
  background: none;
}

/** Changes background color, height and margin of the border **/
@media only screen and (min-width: 940px) {
  .top-bar {
    background: $menu-bg;
  }
  .top-bar-section ul,
  .top-bar-section li a:not(.button) {
    background: none;
  }
}


$shadow-color: calculateTextColor($menu-active-bg, $color-text-dark, $color-text-light);

/* Expanded state is menu opened (mobile) */
.top-bar.expanded {
  background: $secondary-color;
  .top-bar-section {
    ul {
      background: $secondary-color;
    }
    ul li > a {
       background: $secondary-color;
       color: calculateTextColor($secondary-color, $color-text-dark, $color-text-light);
    }
    ul li > a:hover {
      background: darken($secondary-color, 10%) !important;
      color: calculateTextColor($secondary-color, $color-text-dark, $color-text-light);
    }
  }
  .title-area {
    background: $menu-active-bg;
  }
  .toggle-topbar a{
    color: calculateTextColor($menu-active-bg, $color-text-dark, $color-text-light);
  }
  .toggle-topbar a span {
    box-shadow: 0 10px 0 1px $shadow-color, 0 16px 0 1px $shadow-color, 0 22px 0 1px $shadow-color;
  }
}

.top-bar-section {

  li.active:not(.has-form) {
    a:not(.button) {
      background:  $menu-active-bg;
      color: calculateTextColor($menu-active-bg, $color-text-dark, #fff);
    }
    a:not(.button):hover {
      background: $menu-hover-bg;
    }
  }

   .active .active li > a {
    background: darken($menu-active-bg, 10%) !important;
  }

  .active .active .dropdown a:hover {
    background: darken($menu-active-bg, 15%) !important;
  }

  /** Changes the hover state of non active menu items **/
  /*li:hover a {
    background: $menu-hover-bg;
    color: calculateTextColor($menu-hover-bg, $color-text-dark, $color-text-light);
  }*/

  /** Changes non active menu items **/
  ul li > a {
    color: calculateTextColor($menu-bg, $color-text-dark, $color-text-light);
    text-decoration: none;
    transition: background-color 150 + ms ease-out;
  }

  > ul > li > a {
    border-radius: $radius;
  }

  > ul > li.has-dropdown:hover > a {
    border-radius: $radius $radius 0 0;
  }

  > ul > li > ul.dropdown {
    > li:last-child > a {
      border-radius: 0 0 $radius $radius;
    }
    > li:last-child:hover > a {
      border-radius: 0 0 0 $radius;
    }
  }

  ul.dropdown {
    /** IMPORTANT fill for the ul dropdown container **/
    li a:hover:not(.button) {
       background: $menu-dropdown-hover-bg !important;
       color: calculateTextColor($menu-dropdown-hover-bg, $color-text-dark, $color-text-light);
    }
  }

  /** This fixes the position and the color of the dropdown arrow **/
  ul > li.has-dropdown a:after {
    border-color: calculateTextColor($menu-bg, $color-text-dark, $color-text-light) transparent transparent transparent;
    margin-top: -2.5px;
  }

  /** color of the dropdown arrow o hover state **/
  ul > li.has-dropdown:hover a:after {
    border-color: calculateTextColor($menu-dropdown-hover-bg, $color-text-dark, $color-text-light) transparent transparent transparent;
  }

  .item_92 {
    display: none;
  }

}

#totop {
  position: fixed;
  cursor: pointer;
  display:none;
  right: 20px;
  bottom: 20px;
  width: 50px;
  font-size: em-calc(12);
  height: 50px;
  background: $primary-color;
  text-align: center;
  border-radius: 50px;
  box-shadow: #000 0px 3px 10px;
  color: #fff;
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
  .flecha {
    margin-top: -16px;
    font-size: 21px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $text-and-titles;

  background: darken($secondary-color, 25%) fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body.catalogo .main_content > h2,
body.contacto .mod_contacto h2,
.article > h2,
h1 {
  font-family: libel_suitregular, Arial, Helvetica, sans-serif;
  font-size: 63px !important;
  color: $text-and-titles !important;
  font-weight: normal;
  margin: 40px 0 0 !important;
}

#main_content .module {

  @include transition(height, 200ms);

  h2 {
    font-family: libel_suitregular, Arial, Helvetica, sans-serif;
    color: calculateTextColor($secondary-color, #fff, darken($primary-color, 38%));
    font-size: 27px;

    @include gradient(lighten($primary-color, 4%), darken($primary-color, 15%));

    font-weight: normal;
    margin: 0;
    margin-left: -21px;
    padding-top: 3px;
    width: 77%;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.44);
  }

  /**
   * css gradient for triangle shaped arrow (SO)
   * http://stackoverflow.com/q/12431596/1397351
   */
  h2:after {
    position: absolute;
    top: 50%; right: 0;
    margin: -14px -14px;
    width: 28px;
    height: 28px;
    /* create a rhombus */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    @include gradient(lighten($primary-color, 4%), darken($primary-color, 15%), false, -49.1deg);

    content: ''
  }

  h2:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 9px 0;
    border-color: transparent darken($primary-color, 38%) transparent transparent;
  }

  h3 {
    color: calculateTextColor($secondary-color, darken($primary-color, 10%), #fff);
    font-size: 14px;
  }

}

input[type="text"],
textarea {
  background: #202020;
  color: #707373;
  border-radius: $radius;
  border: none;
}

input[type="text"]:focus,
textarea:focus {
  background: #333333;
}

textarea {
  min-height: 102px;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.row,
.contain-to-grid .top-bar {
  max-width: 82.5em;
}

.bx-wrapper .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: transparent;
}

header {
  background: darken($secondary-color, 20%);
  border-bottom: 6px solid $primary-color;
  padding: 5px 0;

  .social {

    a {
      background: url("../images/ico_social.png") no-repeat;
      width: 37px;
      height: 0;
      padding-top: 37px;
      overflow: hidden;
      display: inline-block;
    }
    .twitter {
      background-position: -45px 0;
    }
    .instagram {
      background-position: -90px 0;
    }
    .linkedin {
      background-position: -135px 0;
    }
    .facebook:hover {
      background-position: 0 -37px;
    }
    .twitter:hover {
      background-position: -45px -37px;
    }
    .instagram:hover {
      background-position: -90px -37px;
    }
    .linkedin:hover {
      background-position: -135px -37px;
    }
  }

}

#idiomas {
  position: absolute;
  top: 5px;
  right: 5px;

  .flag {
    overflow: hidden;
    height: 0;
    padding-top: 11px;
  }

}

.mas {
  font-size: 35px;
  float: right;
  text-decoration: none !important;

  span {
    font-size: 16px;
    bottom: 4px;
    position: relative;
  }

}

.top-bar.expanded {
  padding: 0 !important;
  .title-area {
    background: $primary-color !important;
    .toggle-topbar {
      a {
        color: #fff;
      }
      span {
        -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
        box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
      }
    }
  }
}

/*@media all and (min-width: 640px) {
  header {
    .social {
      margin-top: 15%;
    }
  }
}

@media all and (min-width: 1170px) {
  .module.mod_menu {
    margin-left: -36px;
    width: 103%;
  }
}*/

@media only screen and (min-width: 40.063em) {

  .top-bar {
    line-height: 62px;
    height: 64px;
  }

  .top-bar-section {

    .has-dropdown > a:after {
      top: 50%;
    }

    .active.has-dropdown > a:after {
      border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    ul {
      li {
        background: none;
      }
      li:hover:not(.has-form) {
        > a {
          background: darken($menu-dropdown-hover-bg, 20%);
        }
      }
    }

    > ul {

      margin: 0 0 0 -21px;
      display: block;
      height: 64px !important;
      border: 1px solid darken($secondary-color, 12%);
      background: darken($secondary-color, 20%);

      > li:first-child {

        a {
          font-size: 0 !important;
          background: transparent !important;
          display: block;
          width: 62px;
          line-height: 62px !important;
          position: relative;
        }

        a:after {
          font: normal normal normal 35px/1 FontAwesome !important;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\f015";
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -16px 0 0 -14px;
        }

      }

      > li:first-child.active,
      > li:first-child:hover {
        a {
         color: $primary-color !important;
        }
      }

      > li:last-child {
        > a {
          border-right: none;
        }
      }

    }

    li:not(.has-form) {

      a:not(.button) {
        border-right: 1px solid darken($secondary-color, 12%);
        background: darken($secondary-color, 20%);
        line-height: 62px !important;
        font-weight: normal;
        font-family: libel_suitregular, Arial, Helvetica, sans-serif;
        font-size: 26px;
        color: $text-and-titles;
        text-transform: lowercase;
      }

      ul a:not(.button) {
        line-height: 43px;
      }

    }

    a:hover {
      color: #fff !important;
      background: $menu-hover-bg !important;
    }

    .dropdown {
      li:not(.has-form):not(.active) {
        > a:not(.button) {
          background: darken($secondary-color, 15%);
          line-height: 43px !important;
        }
      }
    }

  }

}

@media only screen and (min-width: 965px) {

  .top-bar-section {
    left: 50% !important;
    right: 0;
    position: absolute;
    margin-left: -188px;

    > ul {
      > li:first-child {
        margin-left: 6%;
      }
    }

  }
}

@media only screen and (min-width: 1100px) {
  .top-bar-section {
    > ul {
      > li:first-child {
        margin-left: 1%;
      }
    }
  }
}

@media only screen and (max-width: 964px) {

  .top-bar-section {

    width: auto !important;
    left: 0 !important;

  }
}


.flex-video {
  margin-bottom: 0;
}

.module:not(.mod_banner):not(.mod_menu) {
  position: relative;
  margin-bottom: 20px;
}

#main_content {

  .module:not(.mod_banner):not(.mod_menu):not(h1),
  .mod_banner.habitaciones {

    background: darken($secondary-color, 15%);
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.51);
    padding: 12px;

    .content {
      overflow: hidden;
      margin-top: 14px;
    }
  }

}


.mod_banner.habitaciones > div {
  text-align: center;
}

.module.highlight {

  @media all and (min-width: 965px) {
    margin-top: -120px;
  }

  @media all and (max-width: 964px) {
    margin-top: $column-gutter;
  }

  z-index: 1;
  position: relative;

  h2:after {
    content: normal;
  }
  h2:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 28px 0 28px;
    border-color: darken($primary-color, 15%) transparent transparent transparent;
    bottom: 0;
    left: 16%;
    margin-bottom: -14px;
  }
  h2 {
    margin: -12px -12px 0 -12px;
    width: auto;
    color: #FFF;
    font-size: 43px;
    padding: 7px 0 3px 0;
  }

  .content {
    padding: 36px 14px 14px 14px;
  }

  .ui-datepicker-trigger {
    position: absolute;
    right: 13px;
    top: 18px;
    border: 8px solid #000;
    border-radius: 0 $radius $radius 0;
    border-right-width: 10px;
    border-left-width: 9px;
  }

  label {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 11px;
    color: #999;
  }

  input[type="submit"] {
    width: 100%;
    font-family: libel_suitregular, Arial, Helvetica, sans-serif;
    font-size: 34px;
    color: #fff;
    text-transform: lowercase;
    padding: 15px 0;
    margin-top: 28%;
  }

}

.module.servicios {

  padding: 40px 0;
  border-top: 1px dotted #777;
  h3 {
    color: #fff;
    font-family: libel_suitregular, Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: normal;
  }

  img {
    display: inline;
  }

  .button {
    margin-top: 9px;
  }

  .bx-prev,
  .bx-next {
    width: 24px;
    height: 50px;
    margin-top: -25px;
  }

  .bx-prev {
    @media all and (min-width: 1244px) {
      left: -52px;
    }
    background: url("../images/flecha_servicios_left.png");
  }

  .bx-next {
    @media all and (min-width: 1244px) {
      right: -52px;
    }
    background: url("../images/flecha_servicios_right.png");
  }

}

footer {
  .expanded {
    background: #1C1C1A;
    padding: 30px 0;
  }
}

.article,
footer {
  background: darken($secondary-color, 20%);
  padding: 21px 0;

  .direccion,
  .telefonos,
  .email {

    i {
      color: $primary-color;
      margin-right: 9px;
      width: 30px;
      text-align: center;
      top: 6px;
      position: relative;
    }

    padding: 12px 0 12px 0;
  }

  .email {
    a {
      color: $text-and-titles;
    }
  }

  .column.social {
    padding-top: 45px;
  }

  .FBConnectButton,
  .tweet .fa-stack {
    float: left;
    margin-right: 15px;

    i.fa-circle {
      color: $primary-color;
    }

  }

  .fshare,
  .tweet {
    width: 50%;
    float: left;
  }

  .fb_share_count,
  .t-count {
    background: lighten($secondary-color, 50%);
    font-size: 13px;
    padding: 5px 10px;
    position: relative;
    border-radius: 8px;
    font-weight: bold;
    float: left;
    top: 13px;

    * {
      color: #000;
    }

  }

  .fb_share_count:before,
  .t-count:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 7px 4px 0;
    border-color: transparent lighten($secondary-color, 50%) transparent transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -4px 0 0 -7px;
  }

}

.article {
  background: none;
}

#submenu,
#author {
  padding-top: 10px;
  padding-bottom: 10px;
  color: $text-and-titles;

  a,
  small {
    font-size: 12px;
  }

}

#submenu {

  a {
    @include transition(color, 200ms);
    color: $text-and-titles;
  }

  a.active,
  a:hover {
    color: $primary-color;
  }

  a:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin: 0 5px 0 8px;
    background: #8E9090;
  }

  a:last-child:after {
    display: none;
  }

}

.ui-datepicker-header {
  background: #424242;
}

.ui-state-default {
  color: #B1B1B1 !important;
  background: #555 !important;
  border: 1px solid #696969 !important;
}

.ui-state-highlight {
  background: $primary-color !important;
  color: #000 !important;
}

.ui-state-default:hover {
  background: #787878 !important;
}

.ui-datepicker-calendar {
  background: #000;
  border: none;

  thead {
    background: $primary-color;
  }

  tr {
    background: none !important;
  }

}

.fecha {
  color: #fff;
  background: $primary-color;
  text-align: center;
  width: 3.5em;
  height: 3.5em;
  border-radius: 70px;
  font-family: libel_suitregular, Arial, Helvetica, sans-serif;
  font-size: 34px;
  float: left;
  margin-right: 15px;
  display: block;

  @include transition();

  .dia {
    display: block;
    margin-top: 0.25em;
    margin-bottom: -4px;
    font-size: 2em;
    line-height: 0.8em;
  }
  .mes {
    display: block;
    text-transform: uppercase;
  }
}

a:hover .fecha {
  background: darken($primary-color, 15%);
}

.fecha.small {
  font-size: 25px;
}

@media all and (max-width: 640px) {
  .module {
    margin-bottom: 14px;
  }
  #content {
    background: darken($secondary-color, 25%);
  }
}

.module.eventos {
  .content {
    margin: 0 auto;
    max-width: 249px;
    margin-top: 12px;
    overflow: visible;
    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #8E9090;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 5px;
      background: #000;
      background: rgba(0, 0, 0, 0.80);
      span {
        font-size: 16px;
      }
    }
  }

  @media all and (min-width: 640px) {
    .bx-next {
      right: -16%;
    }

    .bx-prev {
      left: -16%;
    }
  }

}

.module.mapa {

  background: #8E9090;

  h2 {
    position: absolute;
    bottom: 28px;
    font-size: 23px;
    color: #FFF;
    width: 57%;
    z-index: 1;
  }
  h2:after {
    margin: -13px -13px;
    width: 25px;
    height: 25px;
  }

}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: $primary-color;
}

select,
form.custom .custom.dropdown,
input[type="text"],
input[type="email"] {

  font-size: 13px;
  border: none;
  background: #202020 !important;
  border-radius: $radius;
  color: #b9b9b9 !important;

  * {
    border: none;
    background: #202020;
    color: #b9b9b9 !important;
  }

  ul li:hover {
    color: #bbbebe;
    background: #464646;
  }

  .selected {
    background: #000;
  }

  .selector {
    background: #000;
    border-radius: 0 $radius $radius 0;
  }

  .selector:after {
    border-color: #b5b5b5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  }

}

.custom.dropdown:hover .selector:after {
  border-color: #fff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
}

form.custom .custom.dropdown .current {
  color: #fff !important;
}

form.custom .custom.dropdown .disabled {
  color: #5C5C5C !important;
}

table {

  background: $secondary-color;
  border-color: $secondary-color;
  width: 100%;

  tbody {
    * {
      color: calculateTextColor($secondary-color, $color-text-dark, $color-text-light) !important;
    }
  }

  tfoot {
    background: lighten($secondary-color, 10%);
    th,
    td {
      color: calculateTextColor(lighten($secondary-color, 10%), #000, #fff) !important;
    }
  }

  thead {
    background: $primary-color;
    th,
    td {
      color: calculateTextColor($primary-color, #000, #fff) !important;
    }
  }

  tr.even,
  tr.alt,
  tr:nth-of-type(even) {
    background: lighten($secondary-color, 3%);
  }

}

span.prefix,
label.prefix {
  background: #474747;
  border-color: #1D1D1D;
  border-right: none;
  color: #C2C2C2;
  height: 30px;
  line-height: 28px;
  border-radius: $radius 0 0 $radius;
}

.no-radius-left {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.bx-wrapper {
  margin: 0 auto;
}

.bx-next,
.bx-prev {
  top: 50%;
  margin-top: -15px;
}

.bx-next {
  right: 10px;
  background: url("../../../packages/bxslider/bx_styles/gray_next.png");
}
.bx-prev {
  left: 10px;
  background: url("../../../packages/bxslider/bx_styles/gray_prev.png");
}

.item {
  border-bottom: 1px solid transparentize(lighten($secondary-color, 10%), 50%);
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
}

h2,
h3 {
  a,
  a:hover {
    color: inherit;
  }
}

.main_content {

  .title {
    position: relative;
    height: 81px;
    margin-left: 96px;
    margin-bottom: 15px;

    h2 {
      font-family: arial, helvetica, sans-serif;
      position: absolute;
      top: 50%;
      margin: 0;

      @include translate(0, -50%);

    }

  }

  h2 {
    font-size: 18px;
    color: calculateTextColor($secondary-color, darken($primary-color, 10%), #fff);
  }

}

#logo {
  margin: 5% 0;
}

.reveal-modal,
dialog {
  background-color: darken($secondary-color, 20%);
  border-color: darken($secondary-color, 25%);
}

.active {
  > a {
    color: #fff;
  }
}