//	jQuery Touch Optimized Sliders "R"Us
//	Variables


$transitionDuration: 0.4s !default;
$transitionFunction: ease !default;

$uiPadding: 20px;

$uiBgColor: #000 !default;
$uiBgOpacity: 0.5 !default;
$uiTextColor: #fff !default;
$uiBorderRadius: 3px !default;

$uiOpacity: 0.5 !default;
$uiDisabledOpacity: 0.2 !default;
$uiActiveOpacity: 0.9 !default;

$htmlBgColor: #fff;
$htmlTextColor: #333;

$captFontSize: 15px !default;
$captLineHeight: 20px !default;

$loadingSize: 30px;
