$primary-color: #484848;
$secondary-color: #71a321;
$hightlight-color: lighten($secondary-color, 18%);
$color-text-dark: #353535;
$color-text-light: #fff;
$enabled-color: #82ACD8;
$title-line-color: #B5FF00;
$mod_title_color: #FFAE47;
$mod_content_color: #2FC1FB;
$mod_menu_color: #ff621f;
$enabled-color: #82ACD8;
$title-line-color: #B5FF00;