@import "../../../packages/flexcms/general_functions";
@import "colors";

$radius: 0;
$background: url(../admin/images/fondo_dark.jpg);

@if lightness($primary-color) > 50% {
  $background: url(../admin/images/fondo_light.jpg);
}

@mixin inputColor($bg-color, $check-color){

  background: $bg-color;
  @include transition(backgound-color, 200ms);

  hr,
  fieldset,
  legend,
  label,
  select,
  h3,
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  input[type="text"],
  .input {
    @include transition(all, 200ms);
  }

  hr {
    border-bottom: 1px solid darken($bg-color, 15%);
  }

  fieldset {
    background: darken($bg-color, 15%);
  }

  fieldset,
  legend {
    border-color: darken($bg-color, 20%);

  }

  legend {
    background: darken($bg-color, 20%);
    color: white;
  }

  h3 {
    color: darken($bg-color, 40%);
  }

  input[type="text"],
  select {
    color: white;
  }

  select,
  input[type="text"] {
    border-color: darken($bg-color, 40%);
    box-shadow: inset 0px 0px 4px darken($bg-color, 40%);
  }

  .input {
    background: darken($bg-color, 10%);
    border-color: darken($bg-color, 20%);
  }

  label {
    background: darken($bg-color, 25%);
  }

  .input.check {

    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before,
    input[type="text"],
    select {
      background: darken($bg-color, 30%);
    }

    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      color: $check-color;
    }

    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0px;
      width: 27px;
      height: 27px;
      background: #343434;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: 4px;
      left: 8px;
      font-size: 14px;
      color: #09ad7e;
      transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
  }

}

html {
  background: $background no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 12px;
  color: calculateTextColor($primary-color, #272727, #959595);
}

.sorteable {
  position: relative;
}

textarea.descripcion {
  width: 100% !important;

  min-height: 80px;
  resize: vertical;
}


select,
input[type="text"],
input[type="password"],
input[type="submit"],
#logout, .boton.importante,
.contenido .boton.enabled,
form#login,
.columnas,
.field,
.listado,
li.treedrag .controls,
.boton,
#module_manager .row,
#module_manager .save_module,
#module_manager #add_row,
#module_manager #options,
#counter,
fieldset,
.grupo {
  @include border-radius($radius);
}

.contenido .boton.enabled,
.listado.enabled,
li.treedrag .controls.enabled,
.bot_sortRow {
  @include border-radius($radius 0 0 $radius);
}

.mover {
  @include border-radius($radius 0 0 $radius);
}

select {
  background: darken($primary-color, 15%);
  color: calculateTextColor(darken($primary-color, 15%), #333, #9B9B9B);

  @if lightness($primary-color) > 50% {
    border: 1px solid lighten($primary-color, 15%);
  } @else {
    border: 1px solid darken($primary-color, 15%);
  }

  padding: 4px;
}

select.formatBlock-item.toolbar-item {
  padding: 0;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 5px 3px;
  width: 100%;
  box-sizing: border-box;
  background: darken($primary-color, 10%);
  color: calculateTextColor(darken($primary-color, 10%), #333, #8F8F8F);
  border: 1px solid darken($primary-color, 13%);
  box-shadow: inset 0px 0px 4px darken($primary-color, 13%);
}

.mod_content input[type="text"] {
  background: #2EA8FA;
  color: white;
  border: 1px solid #0048C7;
  box-shadow: inset 0px 0px 4px #004B91;
}

.mod_menu input[type="text"] {
  background: #D85017;
  color: white;
  border: 1px solid #861916;
  box-shadow: inset 0px 0px 4px #97282d;
}

.contenido {

  .boton {
    width: auto !important;
    left: 5px;
    right: 5px;
    padding: 7px !important;
    text-align: center  !important;

    @include gradient(lighten($primary-color, 15%), lighten($primary-color, 10%));

    color: calculateTextColor(lighten($primary-color, 15%), $primary-color, #fff);
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
    border: 1px solid $primary-color;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .boton.n1,
  .boton.n2,
  .boton.n3,
  .boton.n4,
  .boton.n5,
  .boton.n6,
  .boton.n7,
  .boton.n8,
  .boton.n9,
  .boton.n10 {
    position: absolute;
  }

  .boton.n1 {
    bottom: 5px;
  }

  .boton.n2 {
    bottom: 38px;
  }

  .boton.n3 {
    bottom: 71px;
  }

  .boton.n4 {
    bottom: 104px;
  }

  .boton.n5 {
    bottom: 137px;
  }

  .boton.n6 {
    bottom: 170px;
  }

  .boton.n7 {
    bottom: 203px;
  }

  .boton.n8 {
    bottom: 236px;
  }

  .boton.n9 {
    bottom: 269px;
  }

  .boton.n10 {
    bottom: 302px;
  }

  .boton.enabled {
    margin-right: 5px;
    background: $primary-color;
    border: 1px solid $primary-color;
  }

  .boton.enabled:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -1px;
    right: -9px;
    bottom: auto;
    left: auto;
    border-width: 14px 0 14px 8px;
    border-color: transparent $enabled-color;
  }

  .boton.importante.enabled {
    background: darken($secondary-color, 5%);
    border: 1px solid darken($secondary-color, 10%);
  }

  /*.boton.importante.enabled:after {
    border-color: transparent $secondary-color;
  }*/

}

input[type="submit"],
#logout,
.boton.importante {

  @include gradient(lighten($secondary-color, 10%), $secondary-color);

  padding: 5px;
  border: 1px solid #214530;
  margin: 5px 0 0 0;
  width: 100%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
}

#header {
  background: darken($primary-color, 10%);
  z-index: 1;
  padding: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 118px;
}

#content {
  position: absolute;
  perspective: 800px;
  left: 147px;
  bottom: 0;
  top: 0;
  width: 228px;
}

.group td {
  vertical-align: top;
}

#pages {

  transition: all 400ms ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #494949;
  padding: 14px;

  .titulo {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  }

  .contenido {
    border-top: 2px solid #8AC300;
    padding: 8px 8px 15px 7px;
    overflow: auto;
    bottom: 12px;
    top: 36px;
    position: absolute;
    right: 0;
    left: 0;
  }

}

#pages,
.group {
  ul {

    list-style:none;
    position:relative;

    li {

      position: relative;

      a {

        border-radius: 2px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.31);
        margin: 0 0 8px 11px;
        width: auto;
        float: none;
        display: block;
        border: 1px solid #2D2D2D;
        overflow: visible;

        background: #6C6C6C url("../admin/images/ico_file_small.png") no-repeat 7px center;
        padding-left: 21px;
        height: 28px;

      }

      a.enabled {
        margin-right: -12px;
        border-radius: 3px 0 0 3px;
      }

      a.enabled:after {
        content: "";
        position: absolute;
        border-style: solid;
        display: block;
        width: 0;
        top: 0;
        right: -8px;
        bottom: auto;
        left: auto;
        border-width: 15px 0 15px 7px;
        border-color: transparent $enabled-color;
      }

    }

    ul {
      margin: 0 0 0 22px;
    }

  }

  ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top: -8px;
    bottom: 0;
    left:0;
    border-left:1px solid;
  }

  li:before {
    content:"";
    display:block;
    width:10px; /* same with indentation */
    height:0;
    border-top:1px solid;
    position:absolute;
    top: 15px; /* (line-height/2) */
    left:0;
  }

  li:last-child:before {
    background:#494949; /* same with body background */
    height:auto;
    top:16px; /* (line-height/2) */
    bottom:0;
  }
}

.group {

  li:last-child:before {
    background:#7b7b7b;
  }

}

#pages.hide {
  transform: translateX(-192px);
}

#pages .show,
#pages .show:after {
  content: "";
  position: absolute;
  @include transition();
  cursor: pointer;
  right: -38px;
  /*-webkit-transition-delay: 400ms;
  transition-delay: 400ms;*/
}

#pages .show {
  background: lighten($primary-color, 3%);
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 0;
  opacity: 0;
}
#pages .show:after {
  border: 10px solid transparent;
  top: 50%;
  margin-top: -5px;
  z-index: 25;
  border-left-color: #FFFFFF;
  opacity: 0;
}

#pages.hide .show {
  width: 38px;
  opacity: 0.7;
}

#pages.hide .show:after {
  right: 2px;
  opacity: 1;
}
#pages.hide:hover .show {
  background: lighten($primary-color, 8%);
}
#pages.hide:hover .show:after {
  right: -4px;
}

#contenido.hide {
  left: 186px !important;
}

.login #header {
  text-align: center;
}

#logout {
  @include gradient(lighten($secondary-color, 10%), $secondary-color);
  text-align: center;
  line-height: 19px;
  display: block;
  border-radius: 3px;
  width: 106px;

  span {
    background: url("../admin/images/ico_logout.png");
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 6px;
    vertical-align: text-top;
  }
}

.user {
  position: absolute;
  bottom: 13px;

  strong {
    color: $hightlight-color;
    /*cursor: help;*/
  }

}

#counter {
  background: #F60;
  color: #FFF;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
  display: none;
  font-size: 13px;
  font-family: "Century Gothic", Arial;
  width: 150px;

  .tiempo {
    font-size: 37px;
  }

}

#counter::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #F60 transparent transparent transparent;
  bottom: -9px;
  left: 50%;
  margin-left: -9px;
}

form#login,
.columnas {
  background: darken($primary-color, 12%);
  border: darken($primary-color, 15%);
  padding: 5px;
  margin: 0 auto;
}

form#login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -155px 0 0 -152px;
  width: 294px;

  #logo {
    margin: 16px auto;
    position: relative;
    display: block;
  }

}

.shadow,
ul.galeria li {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  -o-box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
  -ms-box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

hr {
  border: none;
  margin: 17px 0px;
}

.grupo {
  background: #444;
  padding: 10px;
  margin: 10px 0;
}

.field {

  border: none;
  background: lighten($primary-color, 10%);

  @if lightness($primary-color) > 50% {
    border: 1px solid lighten($primary-color, 5%);
  } @else {
    border: 1px solid $primary-color;
  }

  color: calculateTextColor(lighten($primary-color, 10%), $secondary-color, #E6E6E6);
  margin-bottom: 5px;

  .input {
    word-break: break-word;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;

    background: #595959;
    padding: 6px;
    border: 1px solid #6E6E6E;

    label {
      width: 100%;
      background: #444;
      padding: 6px;
      box-sizing: border-box;
      display: block;
    }

    input {
      box-sizing: border-box;
    }

    select:not(.toolbar-item),
    input[type="text"],
    input[type="password"] {
      width: 100%;
    }

  }

  .input.small,
  .input.medium {
    label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
    }
    select {
      height: 27px;
    }
  }

  .input.small {
    label {
      width: 35%;
    }
    input,
    select {
      width: 65%;
    }
  }

  .input.medium {
    label {
      width: 60%;
    }
    input,
    select {
      width: 40%;
    }
  }

  .input.no-float {
    label,
    input,
    select {
      float: none;
      width: 100%;
    }
  }

  .input:last-child {
    margin-bottom: 0;
  }

  @include inputColor(lighten($primary-color, 20%), #fff);

}

.field:last-child {
  margin-bottom: 0;
}

.field .header,
legend {

  @include gradient($primary-color, darken($primary-color, 5%));
  @include border-radius($radius $radius 0 0);

  font-family: 'Century Gothic', Lucida Grande, Verdana, Sans-serif;
  font-size: 14px;
  color: calculateTextColor($primary-color, darken($secondary-color, 10%), lighten($primary-color, 40%));
  padding: 3px 12px;
  font-weight: normal;
}

.field .content {
  padding: 20px;
}

#rows .content,
.pagina.field .content {
  padding: 0;
}

#logo_dejabu {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#logo_dejabu img {
  border: none;
}

.listado_general,
.listado_galeria,
.tree {
  /*width: 260px;*/
}

h1 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 2px 0;
  padding: 5px 0 6px 0;
}

h2 {
  margin: 0;

  @if lightness($primary-color) > 50% {
    background: lighten($secondary-color, 20%);
  } @else {
    background: $primary-color;

  }

  background: #70A864;


  color: #fff;

  font-size: 15px;
  padding: 7px 18px;
  @include border-radius($radius $radius 0 0);
  font-family: 'Century Gothic', Lucida Grande, Verdana, Sans-serif;
  border-bottom: 3px solid $title-line-color;
  text-transform: uppercase;

}

h3 {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  clear: both;
}

form > div {
  clear: both;
}

li {
  overflow: visible;
}

ol {
  background: #EEE;
  padding: 15px 15px 15px 35px;
  margin: 0 0 15px 0;
}

h4 {
  margin: 0;
}

video {
  width: 100%;
}

fieldset {
  background: $primary-color;
  border: 1px solid darken($primary-color, 5%);
  margin-bottom: 15px;
}

legend {
  cursor: default;
  padding: 3px 17px;
  box-shadow: 0 0 6px #000;
  margin-bottom: 5px;
}










#columnas {
  perspective: 1000px;

  .columnas {
    height: 100%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.34);
    position: relative;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-in;

    /*-webkit-transform: translateX(150px)scale(1.5, 1);
    -moz-transform: translateX(150px)scale(1.5, 1);
    -o-transform: translateX(150px)scale(1.5, 1);
    transform: translateX(150px)scale(1.5, 1);*/

    /*-webkit-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    -o-transform: translateZ(-300px);
    transform: translateZ(-300px);*/



    /*-webkit-transform: rotateY(-13deg);
    -moz-transform: rotateY(-13deg);
    -o-transform: rotateY(-13deg);
    transform: rotateY(-13deg);*/

    /*-webkit-transform-origin: 0 0%;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;*/

    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;

    opacity: 0;
    width: 274px;

    .contenido {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      position: relative;
      height: 100%;
      opacity: 0;
    }

    .contenido_col {
      margin: 0;
      padding: 5px 9px 5px 5px;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: auto;
      overflow: hidden;
      bottom: 38px;
      position: absolute;
      top: 35px;
      right: -4px;
      left: 0px;
      min-width: 260px;
    }

    .contenido_col.searchResults {
      top: 72px;
    }

    .flecha {
      background: url(../admin/images/flecha_columna.png) right center no-repeat;
      width: 20px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: -21px;
    }

  }

  .columnas.loading {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }

}

a.loading {
  /*background: url(../admin/images/ajax-loader_small.gif) center right no-repeat !important;*/
}

.columnas.loading,
.loader {
  background: darken($primary-color, 15%) url(../admin/images/ajax-loader.gif) center center no-repeat;
}

.loader {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.buscar {

  border-radius: 0;
  padding: 6px 5px 0 5px;
  width: auto;
  overflow: visible;
  height: 30px;
  margin-bottom: 8px;
  background: $primary-color;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  .searchButton {

    @if lightness($primary-color) > 50% {
      background: $secondary-color url('../admin/images/search/ico_search.png') center center no-repeat;
      border: 1px solid darken($secondary-color, 7%);
    } @else {
      background: $primary-color url('../admin/images/search/ico_search.png') center center no-repeat;
      border: 1px solid darken($primary-color, 7%);
    }

    padding-top: 22px;
    width: 26px;
    overflow: hidden;
    height: 0;
    float: left;

  }

  .searchButton.loading {
    background: #595959 url('../admin/images/search/seachLoading.gif') center center no-repeat;
  }

  .searchButton.cancel {
    background: #595959 url('../admin/images/search/ico_cancelSearch.png') center center no-repeat;
    cursor: pointer;
  }

  input {
    width: 86%;
    float: left;
    border: 1px solid $primary-color;
    border-radius: 0;
    margin: 0;
    outline: none;
  }

  input:focus {
    border: 1px solid $secondary-color;
  }

}

.listado,
li.treedrag .controls {

  display: flex;

  @if lightness($primary-color) > 50% {
    background: lighten($primary-color, 8%);
  } @else {
    background: darken($primary-color, 6%);
  }

  border: 1px solid darken($primary-color, 10%);
  height: 30px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.enabled {
  background-color: $enabled-color !important;
  border: 1px solid $enabled-color !important;
  border-right: none;
  position: relative;
  border-right: none;

  .nombre span {
    color: calculateTextColor($enabled-color, $secondary-color, #fff);
  }

  .eliminar,
  .mailing_send,
  .unsubscribe {
    display: none;
  }

}

#preview {
  width: 100%;
  iframe {
    border: none;
    height: 630px;
    width: 100%;
    background: #FFF;
  }
  td {
    vertical-align: top;
  }

  .mobile {

    padding: 62px 15px 97px 13px;
    background: url("../admin/images/mailing/fondo_mobile.png") no-repeat;

    iframe {
      height: 392px;
    }

  }

}


.listado.enabled::after,
li.treedrag .controls.enabled::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -1px;
  right: -9px;
  bottom: auto;
  left: auto;
  border-width: 16px 0 16px 8px;
  border-color: transparent $enabled-color;
}

li.treedrag .controls {
  width: 200px;
}

.dragging {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#catalogo.contenido_col {
  bottom: 137px;
}

#descargas.contenido_col, #banner.contenido_col {
  bottom: 71px;
}

.none {
  width: 250px;
  padding: 5px 5px 17px 5px;
  text-align: center;
  color: #353535;
  background: url(../admin/images/flecha_ninguno.png) center bottom no-repeat;
}

.enabled {
  cursor: default;
}

#contenido {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 9px;
  left: 378px;
  overflow-x: auto;
  z-index: 1;
  transition: all 400ms ease-in-out;

  table {
    height: 100%;
    table-layout: fixed;
  }

}

.info {
  background: $mod_content_color;
  border: 5px solid $enabled-color;
  color: #fff;
  padding: 10px;
  margin: 0 0 5px 0;
}

.cerrar {
  width: 26px;
  height: 0;
  padding-top: 26px;
  overflow: hidden;
  background: url(../admin/images/iconos.png) no-repeat center center;
  display: block;
  float: right;
  position: relative;
  top: -3px;
  right: -16px;
}

.eliminar,
.unsubscribe,
.mailing_send {
  height: 0;
  padding-top: 30px;
  width: 13%;
  display: block;
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid #5A5A5A;
}

.tick-large,
.warn-large {
  padding-left: 48px !important;
  background-position: 16px 50% !important;
}

.tick-large {
  background: transparent url("../admin/images/mailing/ico_check.png") no-repeat;
}

.warn-large {
  background: transparent url("../admin/images/mailing/ico_warn.png") no-repeat;
}

.eliminar {
  background: transparent url(../admin/images/icono_eliminar.png) no-repeat center center;
  flex: 2 1 15%;
}
.unsubscribe {
  background: transparent url(../admin/images/mailing/ico_unsubscribe.png) no-repeat center center;
}
.mailing_send {
  background: transparent url(../admin/images/mailing/ico_send.png) no-repeat center center;
}

.StickyWinInstance .emails {
  overflow: auto;
  max-height: 237px;
  list-style-type: disc;
  padding-left: 30px;
}

#unsubscribed {
  .unsubscribe {
    display: none;
  }
}

.mover,
.bot_sortRow {
  padding-top: 30px;
  height: 0;
  width: 13%;
  overflow: hidden;
  cursor: move;
  float: left;

  @if lightness($primary-color) > 50% {
    background: darken($primary-color, 20%) url(../admin/images/ico_mover.png) no-repeat center center;
  } @else {
    background: lighten($primary-color, 5%) url(../admin/images/ico_mover.png) no-repeat center center;
  }

}

.nombre {

  display: block;
  overflow: hidden;
  flex: 2 1 85%;

  @include border-radius( 0 $radius $radius 0);

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: calculateTextColor($primary-color, darken($secondary-color, 10%), #fff);
    display: block;
    padding: 6px 6px 7px;
    overflow: hidden;
  }

}

.nombre.disabled {
  cursor: default;
  span {
    color: calculateTextColor($primary-color, darken($secondary-color, 10%), #9E9E9E);
  }
}

.galeria .nombre span {
  max-width: 106px;
}

#menu {

  a {
    color: calculateTextColor($primary-color, transparentize($secondary-color, 0.1), #B0B0B0);
    padding: 10px 10px 10px 42px;
    display: block;
    font-size: 10px;
  }

  a.enabled {
    color: calculateTextColor($enabled-color, transparentize($secondary-color, 0.1), #fff);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.54);
  }

  a.enabled::after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 0;
    right: -11px;
    bottom: auto;
    left: auto;
    border-width: 16px 0 17px 10px;
    border-color: transparent $enabled-color;
  }

  li {
    position: relative;

    a {
      background-position: 13px center;
      background-repeat: no-repeat;
    }

  }

  #structure {
    background-image: url(../admin/images/menu/ico_estructura.png);
  }

  #slideshow {
    background-image: url(../admin/images/menu/ico_banners.png);
  }

  #maps {
    background-image: url(../admin/images/menu/ico_mapa.png);
  }

  #languages {
    background-image: url(../admin/images/menu/ico_idiomas.png);
  }

  #contact {
    background-image: url(../admin/images/menu/ico_contacto.png);
  }

  #users {
    background-image: url(../admin/images/menu/ico_usuarios.png);
  }

  #stats {
    background-image: url(../admin/images/menu/ico_estadisticas.png);
  }

  #config {
    background-image: url(../admin/images/menu/ico_configuracion.png);
  }

  #ads {
    background-image: url(../admin/images/menu/ico_publicidad.png);
  }

  #theme {
    background-image: url(../admin/images/menu/ico_theme.png);
  }

  #mailing {
    background-image: url(../admin/images/menu/ico_mailing.png);
  }

  #invoices {
    background-image: url(../admin/images/menu/ico_invoices.png);
  }

}


ul#config {
  position: absolute;
  right: 40px;
  top: 12px;

  li {
    float: left;
    margin-left: 10px;
  }

}

.validation-advice {
  background: red;
  padding: 2px 5px;
  color: white;
  font-size: 12px;
  margin-bottom: 6px;
}

.tip-wrap {
  background-color: #333;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 0 5px 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 100000;
}

#upload-list {
  width: 410px;
  list-style: none;
  padding: 0;
}

.file-cancel {
  font-size: 12px;
  margin-left: 7px;
}

.file-error {
  display: block;
  padding: 10px;
  background: #F00;
  color: #fff;
}

.file-size {
  float: right;
}

.file-invalid {
  background: #FF0;
  padding: 10px;
}

.fileselect {
  width: 100%;
}

.twitter input, .facebook input {
  width: 500px;
  display: block;
  margin-bottom: 10px;
}

.error {
  padding: 10px;
  border: 1px solid #F00;
  background: #FF855B;
  color: #FFF;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 11px;
}

.error_red {
  padding: 10px;
  border: 1px solid #F00;
  background: #ff0900;
  color: #FFF;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 11px;
}

textarea {
  width: 720px;
}

#pageData td {
  vertical-align: top;

  .content {
    overflow: hidden;
  }

}

#module_manager {

  #rows {
    width: 900px;
    clear: both;
  }

  .row {
    padding: 3px 3px 3px 30px;
    margin: 5px 0;
    background: darken($primary-color, 7%);
    position: relative;

    table {
      width: 100%;
      @include border-radius($radius);
      background: $primary-color;
      border-collapse:collapse !important;
      border-spacing:0;
    }

    td {
      vertical-align: top;
    }

  }

  .modules {
    margin: 10px;
    min-height: 100px;
  }

  .module {
    @include transition(box-shadow, 200ms);
  }

  .move_module,
  .move_row,
  .remove_row,
  .remove_module {
    @include transition(background, 200ms);
  }

  .module {
    @include border-radius($radius);
    padding: 5px;
    margin-bottom: 10px;
    background: darken($primary-color, 10%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
    border: 1px solid darken($primary-color, 15%);
    position: relative;

    .content {
      background: darken($primary-color, 10%);
    }

    h3 {
      text-align: center;
      margin: 10px 0;
    }

    .mod_menu,
    .mod_content,
    .mod_title {
      padding: 20px;
    }

    .mod_menu {
      @include inputColor($mod_menu_color, #fff);
    }

    .mod_content {
      @include inputColor($mod_content_color, #fff);
    }

    .mod_title {
      @include inputColor($mod_title_color, #fff);
    }

    .module:last-child {
      margin: 0;
    }

    textarea {
      width: 100%;
      min-height: 100px;
      resize: vertical;
    }

    p {
      margin: 5px;
    }

  }

  .module:hover {
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.7);
  }

  .save_module {
    text-align: center;

    @include gradient(rgb(128,178,252), rgb(36,90,171));

    color:#fff;
    padding: 4px;
    border-top: 1px solid #CCE4F7;
    border-bottom: 1px solid #1C319B;
    cursor: pointer;
  }

  .move_module,
  .move_row {
    position: absolute;
    background: darken($primary-color, 15%);
    cursor: move;
  }

  .module.dragging .move_module,
  .move_module:hover,
  .move_row:hover {
    background-color: $enabled-color;
  }

  .move_row{
    top: 29px;
    bottom: 0;
    left: 0;
    width: 29px;
    @include border-radius(0 0 0 $radius);
  }

  .move_module {
    right: 22px;
    left: 0;
    top: 0;
    height: 24px;
    color: #fff;
    @include border-radius($radius 0 0);
  }

  .remove_row,
  .remove_module {
    text-align: center;
    cursor: pointer;
    color: #FFF;
    background: #000;
  }

  .remove_row:hover,
  .remove_module:hover {
    background-color: #f00;
  }

  .remove_row{
    position: absolute;
    width: 28px;
    height: 27px;
    left: 1px;
    top: 1px;
    line-height: 27px;
  }

  .remove_module  {
    float: right;
    width: 22px;
    height: 24px;
    margin: -5px;
    line-height: 24px;
  }

  .content {
    clear: both;
    margin-top: 24px;
  }

  #add_row,
  #options {
    text-align: center;
    padding: 5px;
    width: 48%;
    float: left;
    background: $primary-color;
    color: #fff;
    margin-top: 16px;
  }

  #options {
    float: right;
  }

  #add_row #row_types,
  #options .content {
    background: lighten($primary-color, 12%);
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px;
    overflow: auto;
    min-height: 77px;
  }

  #add_row li {
    float: left;
    margin: 10px;
  }

  .content_column {
    position: relative;
  }

  td.addModule {
    border: 1px solid #444;
  }

  .add_module {
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #999;

    @if lightness($primary-color) > 50% {
      @include gradient($secondary-color, darken($secondary-color, 5%));
      color: calculateTextColor($secondary-color, #000, #fff);
    } @else {
      @include gradient($primary-color, darken($primary-color, 5%));
      color: calculateTextColor($primary-color, #000, #fff);
    }

  }

  .click {
    padding: 5px;
    margin: 5px;
    @include gradient($secondary-color, darken($secondary-color, 5%));
    color: calculateTextColor($secondary-color, #000, #fff);
    text-align: center;
    cursor: pointer;
  }

  .click.shown {
    @include gradient(darken($secondary-color, 5%), $secondary-color);
  }

  .column_spans {

    td {
      padding: 5px 11px;
    }

  }

  .dragging {
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.7);
  }

}

.drop {
  border: 1px dashed lighten($primary-color, 15%);
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
}

#modulos {

  .secundarios {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    /*-webkit-column-fill: auto;*/
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    /*-moz-column-fill: auto;*/
    column-count: 3;
    column-gap: 15px;
    /*column-fill: auto;*/

    li:hover,
    li.active {
      background-color: lighten($secondary-color, 10%);
    }

  }

  .principales {
    background: #4C68B1;
    border-color: #7596EB;
    width: 635px;

    li {
      display: inline-block;
      border: 1px solid rgba(235, 235, 235, 0.2);
      width: 143px;
      text-align: center;
      padding-top: 50px;
      background-repeat: no-repeat;
      background-position: center 9px;
      background-color: #5C7BCC;
    }

    li:hover,
    li.active {
      background-color: #7b96cc;
    }

    #mod_t_23 {
      background-image: url("../admin/images/modules/ico_breadcrumbs.png");
    }

    #mod_t_8 {
      background-image: url("../admin/images/modules/ico_content.png");
    }

    #mod_t_18 {
      background-image: url("../admin/images/modules/ico_menu.png");
    }

    #mod_t_12 {
      background-image: url("../admin/images/modules/ico_titulo.png");
    }

  }

  ul {
    display: inline-block;
    background: lighten($primary-color, 10%);
    border: 2px solid lighten($primary-color, 18%);
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 5px;
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    width: 194px;
  }

  li {
    padding: 5px;
    cursor: pointer;
  }

  #group_2,
  #group_4 {
    padding-left: 33px;
    width: 166px;
  }

  #group_2 {
    background: url(../admin/images/menu/ico_catalogo.png) no-repeat 8px 7px;
  }

  #group_4 {
    background: url(../admin/images/menu/ico_usuarios.png) no-repeat 8px 7px;
  }

}


.StickyWinInstance {
  .body {
    color: #fff;
  }

  #logo_dejabu,
  #header {
    display: none;
  }

}

.DefaultStickyWin {

  h1 {
    color: #f00;
    font-size: 14px;
    padding: 6px 0 5px 0;
  }

  #container {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: 0;
    -webkit-box-shadow: none;

    p {
      margin: 10px 0;
    }

  }

}

#mapaContent {
  position: relative;

  #ubicacion {
    position: absolute;
    background: black;
    padding: 5px 10px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.74);
    cursor: move;
  }

}

.content.secciones {
  width: 244px;
  padding: 5px;
  margin: 5px;
  border: 1px dashed lighten($primary-color, 15%);
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
  position: relative;
}

.default {

  .file {
    width: 33px;
    height: 45px;
    background: lighten($primary-color, 15%) url("../admin/images/ico_file.png") no-repeat center center;
    position: relative;
    margin: 0 auto;
  }

  .extension {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10px;
    line-height: 11px;
    font-family: century gothic;
    margin: 8px 0px 0px -9px;
    text-transform: uppercase;
    width: 48px;
    text-align: center;
    margin-left: -24px;
  }

}

.audio .file {
  background: lighten($primary-color, 15%) url("../admin/images/ico_audio.png") no-repeat center center;
}

.video .file {
  background: lighten($primary-color, 15%) url("../admin/images/ico_video.png") no-repeat center center;
}

.row_controls {
  padding: 7px;
  margin-bottom: 10px;
  background: darken($primary-color, 7%);
  overflow: hidden;

  > div {
    float: left;
    width: 50%;
  }

}

ul.galeria {

  margin: 0;
  position: relative;

  li {
    width: 44%;
    float: left;
    overflow: hidden;
    margin: 5px;
    background: lighten($primary-color, 10%);
    border-radius: 3px;

    .enabled {
      background: $secondary-color;
    }

    img {
      max-width: 100%;
      display: block;
      margin: 0;
      border: none !important;
      border-radius: 0 !important;
    }

    a {
      display: block;
    }

    .eliminar {
      border: none;
      position: absolute;
      top: 0;
      right: 5px;
    }

    .nombre {
      color: #FFF;
      border-top: 2px solid;
      border-radius: 0;
      float: none;
      width: 100%;
      text-align: center;
    }

    .progress-bar {
      background-color: rgba(43, 43, 43, 0.61);
      height: 7px;
      padding: 3px;
      position: absolute;
      top: 3px;
      left: 2px;
      right: 2px;

      .message {
        display: none;
      }

    }

  }

}

#themes {
  .listado {
    height: auto;
  }

  img {
    max-width: 100%;
  }

}

.color-field {
  width: 38% !important;
}

.colorpicker-container {
  z-index: 1;
}

#backgrounds {
  width: 260px;

  ul.galeria li {
    width: 95%;
  }

}

ul {
  ul {
    margin: 13px;
  }
}

.column_spans,
.column_offsets,
.column_pull ,
.column_push {
  overflow: hidden;
  background: darken($primary-color, 15%);
  padding: 8px;
}

.width_33 {
  margin-right: 14px;
  float: left;
}

.width_33 input {
  width: 26px;
  text-align: center;
}

.column_spans .title,
.column_pull .title,
.column_push .title,
.column_offsets .title {
  border-bottom: 1px solid $secondary-color;
  margin-bottom: 10px;
  padding-bottom: 2px;
  color: $secondary-color;
}

#version {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #8a8a8a;
  font-size: 10px;
}

#seccionesAsignadas {
  a.eliminar {
    display: none;
  }
}

.filter {

}

.width_50 {
  width: 50%;
  float: left;
}

#cart_summary,
#cart_items {

  width: 100%;
  border-collapse: collapse;

  th {
    background-color: #444;
  }

  th,
  td {
    border: 1px solid #848484;
    padding: 10px;
  }

}

.category_discount {

  position: relative !important;

  ul {

  }

  li {
    margin-top: 10px;
  }

  label {
    padding: 5px 12px 5px 5px;
    margin-left: 11px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #333;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.28);
    cursor: pointer;
  }

  input {
    vertical-align: middle;
  }

}

.permission {
  background: $primary-color;
  margin-left: 11px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.28);

  .inputs {
    padding: 5px 12px 5px 5px;
  }

  label {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none;
  }

  h4 {
    background: black;
    padding: 5px 10px;
  }

}

.alert-badge {
  background: #ffd400;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  font-weight: bold;
  color: #000;
}

.input {
  > label + span {
    background: #585858;
    border: 1px solid #333;
    line-height: 25px;
    display: block;
    box-sizing: border-box;
  }
}

#comments {

  h5 {
    margin: 0;
  }

  .date {
    margin-bottom: 10px;
    border-bottom: 1px solid;
  }

  .data {
    > .columns {
      > div {
        text-align: left;
        background: darken($primary-color, 10%);
        margin: 5px 0;
        padding: 10px;
        position: relative;
      }
      > .support {
        background: darken($primary-color, 10%);
      }
      > .user {
        background: darken($primary-color, 15%);
      }
    }

    .badge {
      border-radius: 3px;
      position: absolute;
      right: 5px;
      top: 5px;
      background: $enabled-color;
      color: #292929;
      padding: 2px 4px;
      font-size: 9px;
    }

    .file {
      padding: 5px;
      display: block;
      background: #565656;
      margin-top: 10px;
    }

  }
}