@charset "UTF-8";
/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
html {
  background: url(../admin/images/fondo_dark.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  margin: 0;
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 12px;
  color: #959595; }

.sorteable {
  position: relative; }

textarea.descripcion {
  width: 100% !important;
  min-height: 80px;
  resize: vertical; }

select,
input[type="text"],
input[type="password"],
input[type="submit"],
#logout, .boton.importante,
.contenido .boton.enabled,
form#login,
.columnas,
.field,
.listado,
li.treedrag .controls,
.boton,
#module_manager .row,
#module_manager .save_module,
#module_manager #add_row,
#module_manager #options,
#counter,
fieldset,
.grupo {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.contenido .boton.enabled,
.listado.enabled,
li.treedrag .controls.enabled,
.bot_sortRow {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }

.mover {
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }

select {
  background: #222222;
  color: #9B9B9B;
  border: 1px solid #222222;
  padding: 4px; }

select.formatBlock-item.toolbar-item {
  padding: 0; }

input[type="text"],
input[type="password"],
textarea {
  padding: 5px 3px;
  width: 100%;
  box-sizing: border-box;
  background: #2f2f2f;
  color: #8F8F8F;
  border: 1px solid #272727;
  box-shadow: inset 0px 0px 4px #272727; }

.mod_content input[type="text"] {
  background: #2EA8FA;
  color: white;
  border: 1px solid #0048C7;
  box-shadow: inset 0px 0px 4px #004B91; }

.mod_menu input[type="text"] {
  background: #D85017;
  color: white;
  border: 1px solid #861916;
  box-shadow: inset 0px 0px 4px #97282d; }

.contenido {
  /*.boton.importante.enabled:after {
    border-color: transparent $secondary-color;
  }*/ }
  .contenido .boton {
    width: auto !important;
    left: 5px;
    right: 5px;
    padding: 7px !important;
    text-align: center  !important;
    background: #6e6e6e;
    /* Old browsers */
    background: -moz-linear-gradient(0deg, #6e6e6e 0%, #626262 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(0deg, #6e6e6e 0%, #626262 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #6e6e6e 0%, #626262 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #6e6e6e 0%, #626262 100%);
    /* IE10+ */
    background: linear-gradient(0deg, #626262 0%, #6e6e6e 100%);
    /* W3C */
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #484848;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
  .contenido .boton.n1,
  .contenido .boton.n2,
  .contenido .boton.n3,
  .contenido .boton.n4,
  .contenido .boton.n5,
  .contenido .boton.n6,
  .contenido .boton.n7,
  .contenido .boton.n8,
  .contenido .boton.n9,
  .contenido .boton.n10 {
    position: absolute; }
  .contenido .boton.n1 {
    bottom: 5px; }
  .contenido .boton.n2 {
    bottom: 38px; }
  .contenido .boton.n3 {
    bottom: 71px; }
  .contenido .boton.n4 {
    bottom: 104px; }
  .contenido .boton.n5 {
    bottom: 137px; }
  .contenido .boton.n6 {
    bottom: 170px; }
  .contenido .boton.n7 {
    bottom: 203px; }
  .contenido .boton.n8 {
    bottom: 236px; }
  .contenido .boton.n9 {
    bottom: 269px; }
  .contenido .boton.n10 {
    bottom: 302px; }
  .contenido .boton.enabled {
    margin-right: 5px;
    background: #484848;
    border: 1px solid #484848; }
  .contenido .boton.enabled:after {
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: -1px;
    right: -9px;
    bottom: auto;
    left: auto;
    border-width: 14px 0 14px 8px;
    border-color: transparent #82ACD8; }
  .contenido .boton.importante.enabled {
    background: #628e1d;
    border: 1px solid #547918; }

input[type="submit"],
#logout,
.boton.importante {
  background: #8ecd2a;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #71a321 0%, #8ecd2a 100%);
  /* W3C */
  padding: 5px;
  border: 1px solid #214530;
  margin: 5px 0 0 0;
  width: 100%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block; }

#header {
  background: #2f2f2f;
  z-index: 1;
  padding: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 118px; }

#content {
  position: absolute;
  perspective: 800px;
  left: 147px;
  bottom: 0;
  top: 0;
  width: 228px; }

.group td {
  vertical-align: top; }

#pages {
  transition: all 400ms ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #494949;
  padding: 14px; }
  #pages .titulo {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }
  #pages .contenido {
    border-top: 2px solid #8AC300;
    padding: 8px 8px 15px 7px;
    overflow: auto;
    bottom: 12px;
    top: 36px;
    position: absolute;
    right: 0;
    left: 0; }

#pages ul,
.group ul {
  list-style: none;
  position: relative; }
  #pages ul li,
  .group ul li {
    position: relative; }
    #pages ul li a,
    .group ul li a {
      border-radius: 2px;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.31);
      margin: 0 0 8px 11px;
      width: auto;
      float: none;
      display: block;
      border: 1px solid #2D2D2D;
      overflow: visible;
      background: #6C6C6C url("../admin/images/ico_file_small.png") no-repeat 7px center;
      padding-left: 21px;
      height: 28px; }
    #pages ul li a.enabled,
    .group ul li a.enabled {
      margin-right: -12px;
      border-radius: 3px 0 0 3px; }
    #pages ul li a.enabled:after,
    .group ul li a.enabled:after {
      content: "";
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
      top: 0;
      right: -8px;
      bottom: auto;
      left: auto;
      border-width: 15px 0 15px 7px;
      border-color: transparent #82ACD8; }
  #pages ul ul,
  .group ul ul {
    margin: 0 0 0 22px; }
#pages ul:before,
.group ul:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: -8px;
  bottom: 0;
  left: 0;
  border-left: 1px solid; }
#pages li:before,
.group li:before {
  content: "";
  display: block;
  width: 10px;
  /* same with indentation */
  height: 0;
  border-top: 1px solid;
  position: absolute;
  top: 15px;
  /* (line-height/2) */
  left: 0; }
#pages li:last-child:before,
.group li:last-child:before {
  background: #494949;
  /* same with body background */
  height: auto;
  top: 16px;
  /* (line-height/2) */
  bottom: 0; }

.group li:last-child:before {
  background: #7b7b7b; }

#pages.hide {
  transform: translateX(-192px); }

#pages .show,
#pages .show:after {
  content: "";
  position: absolute;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  cursor: pointer;
  right: -38px;
  /*-webkit-transition-delay: 400ms;
  transition-delay: 400ms;*/ }

#pages .show {
  background: #505050;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 0;
  opacity: 0; }

#pages .show:after {
  border: 10px solid transparent;
  top: 50%;
  margin-top: -5px;
  z-index: 25;
  border-left-color: #FFFFFF;
  opacity: 0; }

#pages.hide .show {
  width: 38px;
  opacity: 0.7; }

#pages.hide .show:after {
  right: 2px;
  opacity: 1; }

#pages.hide:hover .show {
  background: #5c5c5c; }

#pages.hide:hover .show:after {
  right: -4px; }

#contenido.hide {
  left: 186px !important; }

.login #header {
  text-align: center; }

#logout {
  background: #8ecd2a;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #8ecd2a 0%, #71a321 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #71a321 0%, #8ecd2a 100%);
  /* W3C */
  text-align: center;
  line-height: 19px;
  display: block;
  border-radius: 3px;
  width: 106px; }
  #logout span {
    background: url("../admin/images/ico_logout.png");
    display: inline-block;
    width: 14px;
    height: 13px;
    margin-right: 6px;
    vertical-align: text-top; }

.user {
  position: absolute;
  bottom: 13px; }
  .user strong {
    color: #a1da46;
    /*cursor: help;*/ }

#counter {
  background: #F60;
  color: #FFF;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
  display: none;
  font-size: 13px;
  font-family: "Century Gothic", Arial;
  width: 150px; }
  #counter .tiempo {
    font-size: 37px; }

#counter::after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 9px 0 9px;
  border-color: #F60 transparent transparent transparent;
  bottom: -9px;
  left: 50%;
  margin-left: -9px; }

form#login,
.columnas {
  background: #292929;
  border: #222222;
  padding: 5px;
  margin: 0 auto; }

form#login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -155px 0 0 -152px;
  width: 294px; }
  form#login #logo {
    margin: 16px auto;
    position: relative;
    display: block; }

.shadow,
ul.galeria li {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); }

hr {
  border: none;
  margin: 17px 0px; }

.grupo {
  background: #444;
  padding: 10px;
  margin: 10px 0; }

.field {
  border: none;
  background: #626262;
  border: 1px solid #484848;
  color: #E6E6E6;
  margin-bottom: 5px;
  background: #7b7b7b;
  transition-timing-function: ease-in-out;
  -webkit-transition: backgound-color 200ms;
  -moz-transition: backgound-color 200ms;
  -o-transition: backgound-color 200ms;
  transition: backgound-color 200ms; }
  .field .input {
    word-break: break-word;
    margin-bottom: 10px;
    overflow: hidden;
    box-sizing: border-box;
    background: #595959;
    padding: 6px;
    border: 1px solid #6E6E6E; }
    .field .input label {
      width: 100%;
      background: #444;
      padding: 6px;
      box-sizing: border-box;
      display: block; }
    .field .input input {
      box-sizing: border-box; }
    .field .input select:not(.toolbar-item),
    .field .input input[type="text"],
    .field .input input[type="password"] {
      width: 100%; }
  .field .input.small label,
  .field .input.medium label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left; }
  .field .input.small select,
  .field .input.medium select {
    height: 27px; }
  .field .input.small label {
    width: 35%; }
  .field .input.small input,
  .field .input.small select {
    width: 65%; }
  .field .input.medium label {
    width: 60%; }
  .field .input.medium input,
  .field .input.medium select {
    width: 40%; }
  .field .input.no-float label,
  .field .input.no-float input,
  .field .input.no-float select {
    float: none;
    width: 100%; }
  .field .input:last-child {
    margin-bottom: 0; }
  .field hr,
  .field fieldset,
  .field legend,
  .field label,
  .field select,
  .field h3,
  .field [type="checkbox"]:not(:checked) + label:before,
  .field [type="checkbox"]:checked + label:before,
  .field [type="checkbox"]:not(:checked) + label:after,
  .field [type="checkbox"]:checked + label:after,
  .field input[type="text"],
  .field .input {
    transition-timing-function: ease-in-out;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms; }
  .field hr {
    border-bottom: 1px solid #555555; }
  .field fieldset {
    background: #555555; }
  .field fieldset,
  .field legend {
    border-color: #484848; }
  .field legend {
    background: #484848;
    color: white; }
  .field h3 {
    color: #151515; }
  .field input[type="text"],
  .field select {
    color: white; }
  .field select,
  .field input[type="text"] {
    border-color: #151515;
    box-shadow: inset 0px 0px 4px #151515; }
  .field .input {
    background: #626262;
    border-color: #484848; }
  .field label {
    background: #3b3b3b; }
  .field .input.check {
    /* checkbox aspect */
    /* checked mark aspect */
    /* checked mark aspect changes */
    /* disabled checkbox */ }
    .field .input.check [type="checkbox"]:not(:checked) + label:before,
    .field .input.check [type="checkbox"]:checked + label:before,
    .field .input.check input[type="text"],
    .field .input.check select {
      background: #2f2f2f; }
    .field .input.check [type="checkbox"]:not(:checked) + label:after,
    .field .input.check [type="checkbox"]:checked + label:after {
      color: #fff; }
    .field .input.check [type="checkbox"]:not(:checked),
    .field .input.check [type="checkbox"]:checked {
      position: absolute;
      left: -9999px; }
    .field .input.check [type="checkbox"]:not(:checked) + label,
    .field .input.check [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 35px;
      cursor: pointer; }
    .field .input.check [type="checkbox"]:not(:checked) + label:before,
    .field .input.check [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0px;
      width: 27px;
      height: 27px;
      background: #343434;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }
    .field .input.check [type="checkbox"]:not(:checked) + label:after,
    .field .input.check [type="checkbox"]:checked + label:after {
      content: 'Ô£ö';
      position: absolute;
      top: 4px;
      left: 8px;
      font-size: 14px;
      color: #09ad7e;
      transition: all .2s; }
    .field .input.check [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0); }
    .field .input.check [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1); }
    .field .input.check [type="checkbox"]:disabled:not(:checked) + label:before,
    .field .input.check [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd; }
    .field .input.check [type="checkbox"]:disabled:checked + label:after {
      color: #999; }
    .field .input.check [type="checkbox"]:disabled + label {
      color: #aaa; }

.field:last-child {
  margin-bottom: 0; }

.field .header,
legend {
  background: #484848;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #3b3b3b 0%, #484848 100%);
  /* W3C */
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-family: 'Century Gothic', Lucida Grande, Verdana, Sans-serif;
  font-size: 14px;
  color: #aeaeae;
  padding: 3px 12px;
  font-weight: normal; }

.field .content {
  padding: 20px; }

#rows .content,
.pagina.field .content {
  padding: 0; }

#logo_dejabu {
  position: absolute;
  bottom: 20px;
  right: 20px; }

#logo_dejabu img {
  border: none; }

.listado_general,
.listado_galeria,
.tree {
  /*width: 260px;*/ }

h1 {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 2px 0;
  padding: 5px 0 6px 0; }

h2 {
  margin: 0;
  background: #484848;
  background: #70A864;
  color: #fff;
  font-size: 15px;
  padding: 7px 18px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-family: 'Century Gothic', Lucida Grande, Verdana, Sans-serif;
  border-bottom: 3px solid #B5FF00;
  text-transform: uppercase; }

h3 {
  margin: 0 0 10px 0; }

a {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  font-weight: normal; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

hr {
  clear: both; }

form > div {
  clear: both; }

li {
  overflow: visible; }

ol {
  background: #EEE;
  padding: 15px 15px 15px 35px;
  margin: 0 0 15px 0; }

h4 {
  margin: 0; }

video {
  width: 100%; }

fieldset {
  background: #484848;
  border: 1px solid #3b3b3b;
  margin-bottom: 15px; }

legend {
  cursor: default;
  padding: 3px 17px;
  box-shadow: 0 0 6px #000;
  margin-bottom: 5px; }

#columnas {
  perspective: 1000px; }
  #columnas .columnas {
    height: 100%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.34);
    position: relative;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-in;
    /*-webkit-transform: translateX(150px)scale(1.5, 1);
    -moz-transform: translateX(150px)scale(1.5, 1);
    -o-transform: translateX(150px)scale(1.5, 1);
    transform: translateX(150px)scale(1.5, 1);*/
    /*-webkit-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    -o-transform: translateZ(-300px);
    transform: translateZ(-300px);*/
    /*-webkit-transform: rotateY(-13deg);
    -moz-transform: rotateY(-13deg);
    -o-transform: rotateY(-13deg);
    transform: rotateY(-13deg);*/
    /*-webkit-transform-origin: 0 0%;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;*/
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    transform-origin: 50%;
    opacity: 0;
    width: 274px; }
    #columnas .columnas .contenido {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      position: relative;
      height: 100%;
      opacity: 0; }
    #columnas .columnas .contenido_col {
      margin: 0;
      padding: 5px 9px 5px 5px;
      overflow: auto;
      overflow-x: hidden;
      overflow-y: auto;
      overflow: hidden;
      bottom: 38px;
      position: absolute;
      top: 35px;
      right: -4px;
      left: 0px;
      min-width: 260px; }
    #columnas .columnas .contenido_col.searchResults {
      top: 72px; }
    #columnas .columnas .flecha {
      background: url(../admin/images/flecha_columna.png) right center no-repeat;
      width: 20px;
      height: 40px;
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: -21px; }
  #columnas .columnas.loading {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9); }

a.loading {
  /*background: url(../admin/images/ajax-loader_small.gif) center right no-repeat !important;*/ }

.columnas.loading,
.loader {
  background: #222222 url(../admin/images/ajax-loader.gif) center center no-repeat; }

.loader {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.buscar {
  border-radius: 0;
  padding: 6px 5px 0 5px;
  width: auto;
  overflow: visible;
  height: 30px;
  margin-bottom: 8px;
  background: #484848;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }
  .buscar .searchButton {
    background: #484848 url("../admin/images/search/ico_search.png") center center no-repeat;
    border: 1px solid #363636;
    padding-top: 22px;
    width: 26px;
    overflow: hidden;
    height: 0;
    float: left; }
  .buscar .searchButton.loading {
    background: #595959 url("../admin/images/search/seachLoading.gif") center center no-repeat; }
  .buscar .searchButton.cancel {
    background: #595959 url("../admin/images/search/ico_cancelSearch.png") center center no-repeat;
    cursor: pointer; }
  .buscar input {
    width: 86%;
    float: left;
    border: 1px solid #484848;
    border-radius: 0;
    margin: 0;
    outline: none; }
  .buscar input:focus {
    border: 1px solid #71a321; }

.listado,
li.treedrag .controls {
  display: flex;
  background: #393939;
  border: 1px solid #2f2f2f;
  height: 30px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); }

.enabled {
  background-color: #82ACD8 !important;
  border: 1px solid #82ACD8 !important;
  border-right: none;
  position: relative;
  border-right: none; }
  .enabled .nombre span {
    color: #fff; }
  .enabled .eliminar,
  .enabled .mailing_send,
  .enabled .unsubscribe {
    display: none; }

#preview {
  width: 100%; }
  #preview iframe {
    border: none;
    height: 630px;
    width: 100%;
    background: #FFF; }
  #preview td {
    vertical-align: top; }
  #preview .mobile {
    padding: 62px 15px 97px 13px;
    background: url("../admin/images/mailing/fondo_mobile.png") no-repeat; }
    #preview .mobile iframe {
      height: 392px; }

.listado.enabled::after,
li.treedrag .controls.enabled::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: -1px;
  right: -9px;
  bottom: auto;
  left: auto;
  border-width: 16px 0 16px 8px;
  border-color: transparent #82ACD8; }

li.treedrag .controls {
  width: 200px; }

.dragging {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

#catalogo.contenido_col {
  bottom: 137px; }

#descargas.contenido_col, #banner.contenido_col {
  bottom: 71px; }

.none {
  width: 250px;
  padding: 5px 5px 17px 5px;
  text-align: center;
  color: #353535;
  background: url(../admin/images/flecha_ninguno.png) center bottom no-repeat; }

.enabled {
  cursor: default; }

#contenido {
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 9px;
  left: 378px;
  overflow-x: auto;
  z-index: 1;
  transition: all 400ms ease-in-out; }
  #contenido table {
    height: 100%;
    table-layout: fixed; }

.info {
  background: #2FC1FB;
  border: 5px solid #82ACD8;
  color: #fff;
  padding: 10px;
  margin: 0 0 5px 0; }

.cerrar {
  width: 26px;
  height: 0;
  padding-top: 26px;
  overflow: hidden;
  background: url(../admin/images/iconos.png) no-repeat center center;
  display: block;
  float: right;
  position: relative;
  top: -3px;
  right: -16px; }

.eliminar,
.unsubscribe,
.mailing_send {
  height: 0;
  padding-top: 30px;
  width: 13%;
  display: block;
  float: right;
  overflow: hidden;
  box-sizing: border-box;
  border-left: 1px solid #5A5A5A; }

.tick-large,
.warn-large {
  padding-left: 48px !important;
  background-position: 16px 50% !important; }

.tick-large {
  background: transparent url("../admin/images/mailing/ico_check.png") no-repeat; }

.warn-large {
  background: transparent url("../admin/images/mailing/ico_warn.png") no-repeat; }

.eliminar {
  background: transparent url(../admin/images/icono_eliminar.png) no-repeat center center;
  flex: 2 1 15%; }

.unsubscribe {
  background: transparent url(../admin/images/mailing/ico_unsubscribe.png) no-repeat center center; }

.mailing_send {
  background: transparent url(../admin/images/mailing/ico_send.png) no-repeat center center; }

.StickyWinInstance .emails {
  overflow: auto;
  max-height: 237px;
  list-style-type: disc;
  padding-left: 30px; }

#unsubscribed .unsubscribe {
  display: none; }

.mover,
.bot_sortRow {
  padding-top: 30px;
  height: 0;
  width: 13%;
  overflow: hidden;
  cursor: move;
  float: left;
  background: #555555 url(../admin/images/ico_mover.png) no-repeat center center; }

.nombre {
  display: block;
  overflow: hidden;
  flex: 2 1 85%;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }
  .nombre span {
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    display: block;
    padding: 6px 6px 7px;
    overflow: hidden; }

.nombre.disabled {
  cursor: default; }
  .nombre.disabled span {
    color: #9E9E9E; }

.galeria .nombre span {
  max-width: 106px; }

#menu a {
  color: #B0B0B0;
  padding: 10px 10px 10px 42px;
  display: block;
  font-size: 10px; }
#menu a.enabled {
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.54); }
#menu a.enabled::after {
  content: "";
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  top: 0;
  right: -11px;
  bottom: auto;
  left: auto;
  border-width: 16px 0 17px 10px;
  border-color: transparent #82ACD8; }
#menu li {
  position: relative; }
  #menu li a {
    background-position: 13px center;
    background-repeat: no-repeat; }
#menu #structure {
  background-image: url(../admin/images/menu/ico_estructura.png); }
#menu #slideshow {
  background-image: url(../admin/images/menu/ico_banners.png); }
#menu #maps {
  background-image: url(../admin/images/menu/ico_mapa.png); }
#menu #languages {
  background-image: url(../admin/images/menu/ico_idiomas.png); }
#menu #contact {
  background-image: url(../admin/images/menu/ico_contacto.png); }
#menu #users {
  background-image: url(../admin/images/menu/ico_usuarios.png); }
#menu #stats {
  background-image: url(../admin/images/menu/ico_estadisticas.png); }
#menu #config {
  background-image: url(../admin/images/menu/ico_configuracion.png); }
#menu #ads {
  background-image: url(../admin/images/menu/ico_publicidad.png); }
#menu #theme {
  background-image: url(../admin/images/menu/ico_theme.png); }
#menu #mailing {
  background-image: url(../admin/images/menu/ico_mailing.png); }
#menu #invoices {
  background-image: url(../admin/images/menu/ico_invoices.png); }

ul#config {
  position: absolute;
  right: 40px;
  top: 12px; }
  ul#config li {
    float: left;
    margin-left: 10px; }

.validation-advice {
  background: red;
  padding: 2px 5px;
  color: white;
  font-size: 12px;
  margin-bottom: 6px; }

.tip-wrap {
  background-color: #333;
  color: white;
  font-size: 10px;
  padding: 10px;
  border-radius: 0 5px 5px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 100000; }

#upload-list {
  width: 410px;
  list-style: none;
  padding: 0; }

.file-cancel {
  font-size: 12px;
  margin-left: 7px; }

.file-error {
  display: block;
  padding: 10px;
  background: #F00;
  color: #fff; }

.file-size {
  float: right; }

.file-invalid {
  background: #FF0;
  padding: 10px; }

.fileselect {
  width: 100%; }

.twitter input, .facebook input {
  width: 500px;
  display: block;
  margin-bottom: 10px; }

.error {
  padding: 10px;
  border: 1px solid #F00;
  background: #FF855B;
  color: #FFF;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 11px; }

.error_red {
  padding: 10px;
  border: 1px solid #F00;
  background: #ff0900;
  color: #FFF;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 11px; }

textarea {
  width: 720px; }

#pageData td {
  vertical-align: top; }
  #pageData td .content {
    overflow: hidden; }

#module_manager #rows {
  width: 900px;
  clear: both; }
#module_manager .row {
  padding: 3px 3px 3px 30px;
  margin: 5px 0;
  background: #363636;
  position: relative; }
  #module_manager .row table {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #484848;
    border-collapse: collapse !important;
    border-spacing: 0; }
  #module_manager .row td {
    vertical-align: top; }
#module_manager .modules {
  margin: 10px;
  min-height: 100px; }
#module_manager .module {
  transition-timing-function: ease-in-out;
  -webkit-transition: box-shadow 200ms;
  -moz-transition: box-shadow 200ms;
  -o-transition: box-shadow 200ms;
  transition: box-shadow 200ms; }
#module_manager .move_module,
#module_manager .move_row,
#module_manager .remove_row,
#module_manager .remove_module {
  transition-timing-function: ease-in-out;
  -webkit-transition: background 200ms;
  -moz-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms; }
#module_manager .module {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px;
  margin-bottom: 10px;
  background: #2f2f2f;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid #222222;
  position: relative; }
  #module_manager .module .content {
    background: #2f2f2f; }
  #module_manager .module h3 {
    text-align: center;
    margin: 10px 0; }
  #module_manager .module .mod_menu,
  #module_manager .module .mod_content,
  #module_manager .module .mod_title {
    padding: 20px; }
  #module_manager .module .mod_menu {
    background: #ff621f;
    transition-timing-function: ease-in-out;
    -webkit-transition: backgound-color 200ms;
    -moz-transition: backgound-color 200ms;
    -o-transition: backgound-color 200ms;
    transition: backgound-color 200ms; }
    #module_manager .module .mod_menu hr,
    #module_manager .module .mod_menu fieldset,
    #module_manager .module .mod_menu legend,
    #module_manager .module .mod_menu label,
    #module_manager .module .mod_menu select,
    #module_manager .module .mod_menu h3,
    #module_manager .module .mod_menu [type="checkbox"]:not(:checked) + label:before,
    #module_manager .module .mod_menu [type="checkbox"]:checked + label:before,
    #module_manager .module .mod_menu [type="checkbox"]:not(:checked) + label:after,
    #module_manager .module .mod_menu [type="checkbox"]:checked + label:after,
    #module_manager .module .mod_menu input[type="text"],
    #module_manager .module .mod_menu .input {
      transition-timing-function: ease-in-out;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms; }
    #module_manager .module .mod_menu hr {
      border-bottom: 1px solid #d23f00; }
    #module_manager .module .mod_menu fieldset {
      background: #d23f00; }
    #module_manager .module .mod_menu fieldset,
    #module_manager .module .mod_menu legend {
      border-color: #b83700; }
    #module_manager .module .mod_menu legend {
      background: #b83700;
      color: white; }
    #module_manager .module .mod_menu h3 {
      color: #521900; }
    #module_manager .module .mod_menu input[type="text"],
    #module_manager .module .mod_menu select {
      color: white; }
    #module_manager .module .mod_menu select,
    #module_manager .module .mod_menu input[type="text"] {
      border-color: #521900;
      box-shadow: inset 0px 0px 4px #521900; }
    #module_manager .module .mod_menu .input {
      background: #eb4600;
      border-color: #b83700; }
    #module_manager .module .mod_menu label {
      background: #9f2f00; }
    #module_manager .module .mod_menu .input.check {
      /* checkbox aspect */
      /* checked mark aspect */
      /* checked mark aspect changes */
      /* disabled checkbox */ }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label:before,
      #module_manager .module .mod_menu .input.check input[type="text"],
      #module_manager .module .mod_menu .input.check select {
        background: #852800; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label:after {
        color: #fff; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked),
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked {
        position: absolute;
        left: -9999px; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        width: 27px;
        height: 27px;
        background: #343434;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label:after {
        content: 'Ô£ö';
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 14px;
        color: #09ad7e;
        transition: all .2s; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0); }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1); }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:disabled:not(:checked) + label:before,
      #module_manager .module .mod_menu .input.check [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:disabled:checked + label:after {
        color: #999; }
      #module_manager .module .mod_menu .input.check [type="checkbox"]:disabled + label {
        color: #aaa; }
  #module_manager .module .mod_content {
    background: #2FC1FB;
    transition-timing-function: ease-in-out;
    -webkit-transition: backgound-color 200ms;
    -moz-transition: backgound-color 200ms;
    -o-transition: backgound-color 200ms;
    transition: backgound-color 200ms; }
    #module_manager .module .mod_content hr,
    #module_manager .module .mod_content fieldset,
    #module_manager .module .mod_content legend,
    #module_manager .module .mod_content label,
    #module_manager .module .mod_content select,
    #module_manager .module .mod_content h3,
    #module_manager .module .mod_content [type="checkbox"]:not(:checked) + label:before,
    #module_manager .module .mod_content [type="checkbox"]:checked + label:before,
    #module_manager .module .mod_content [type="checkbox"]:not(:checked) + label:after,
    #module_manager .module .mod_content [type="checkbox"]:checked + label:after,
    #module_manager .module .mod_content input[type="text"],
    #module_manager .module .mod_content .input {
      transition-timing-function: ease-in-out;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms; }
    #module_manager .module .mod_content hr {
      border-bottom: 1px solid #049dd9; }
    #module_manager .module .mod_content fieldset {
      background: #049dd9; }
    #module_manager .module .mod_content fieldset,
    #module_manager .module .mod_content legend {
      border-color: #048bc0; }
    #module_manager .module .mod_content legend {
      background: #048bc0;
      color: white; }
    #module_manager .module .mod_content h3 {
      color: #02435c; }
    #module_manager .module .mod_content input[type="text"],
    #module_manager .module .mod_content select {
      color: white; }
    #module_manager .module .mod_content select,
    #module_manager .module .mod_content input[type="text"] {
      border-color: #02435c;
      box-shadow: inset 0px 0px 4px #02435c; }
    #module_manager .module .mod_content .input {
      background: #05aff2;
      border-color: #048bc0; }
    #module_manager .module .mod_content label {
      background: #0379a7; }
    #module_manager .module .mod_content .input.check {
      /* checkbox aspect */
      /* checked mark aspect */
      /* checked mark aspect changes */
      /* disabled checkbox */ }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label:before,
      #module_manager .module .mod_content .input.check input[type="text"],
      #module_manager .module .mod_content .input.check select {
        background: #03678e; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label:after {
        color: #fff; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked),
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked {
        position: absolute;
        left: -9999px; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label,
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        width: 27px;
        height: 27px;
        background: #343434;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label:after {
        content: 'Ô£ö';
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 14px;
        color: #09ad7e;
        transition: all .2s; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0); }
      #module_manager .module .mod_content .input.check [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1); }
      #module_manager .module .mod_content .input.check [type="checkbox"]:disabled:not(:checked) + label:before,
      #module_manager .module .mod_content .input.check [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:disabled:checked + label:after {
        color: #999; }
      #module_manager .module .mod_content .input.check [type="checkbox"]:disabled + label {
        color: #aaa; }
  #module_manager .module .mod_title {
    background: #FFAE47;
    transition-timing-function: ease-in-out;
    -webkit-transition: backgound-color 200ms;
    -moz-transition: backgound-color 200ms;
    -o-transition: backgound-color 200ms;
    transition: backgound-color 200ms; }
    #module_manager .module .mod_title hr,
    #module_manager .module .mod_title fieldset,
    #module_manager .module .mod_title legend,
    #module_manager .module .mod_title label,
    #module_manager .module .mod_title select,
    #module_manager .module .mod_title h3,
    #module_manager .module .mod_title [type="checkbox"]:not(:checked) + label:before,
    #module_manager .module .mod_title [type="checkbox"]:checked + label:before,
    #module_manager .module .mod_title [type="checkbox"]:not(:checked) + label:after,
    #module_manager .module .mod_title [type="checkbox"]:checked + label:after,
    #module_manager .module .mod_title input[type="text"],
    #module_manager .module .mod_title .input {
      transition-timing-function: ease-in-out;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms; }
    #module_manager .module .mod_title hr {
      border-bottom: 1px solid #fa8c00; }
    #module_manager .module .mod_title fieldset {
      background: #fa8c00; }
    #module_manager .module .mod_title fieldset,
    #module_manager .module .mod_title legend {
      border-color: #e07d00; }
    #module_manager .module .mod_title legend {
      background: #e07d00;
      color: white; }
    #module_manager .module .mod_title h3 {
      color: #7a4400; }
    #module_manager .module .mod_title input[type="text"],
    #module_manager .module .mod_title select {
      color: white; }
    #module_manager .module .mod_title select,
    #module_manager .module .mod_title input[type="text"] {
      border-color: #7a4400;
      box-shadow: inset 0px 0px 4px #7a4400; }
    #module_manager .module .mod_title .input {
      background: #ff9814;
      border-color: #e07d00; }
    #module_manager .module .mod_title label {
      background: #c76f00; }
    #module_manager .module .mod_title .input.check {
      /* checkbox aspect */
      /* checked mark aspect */
      /* checked mark aspect changes */
      /* disabled checkbox */ }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label:before,
      #module_manager .module .mod_title .input.check input[type="text"],
      #module_manager .module .mod_title .input.check select {
        background: #ad6100; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label:after {
        color: #fff; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked),
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked {
        position: absolute;
        left: -9999px; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label,
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label:before,
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0px;
        width: 27px;
        height: 27px;
        background: #343434;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3); }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label:after,
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label:after {
        content: 'Ô£ö';
        position: absolute;
        top: 4px;
        left: 8px;
        font-size: 14px;
        color: #09ad7e;
        transition: all .2s; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0); }
      #module_manager .module .mod_title .input.check [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1); }
      #module_manager .module .mod_title .input.check [type="checkbox"]:disabled:not(:checked) + label:before,
      #module_manager .module .mod_title .input.check [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:disabled:checked + label:after {
        color: #999; }
      #module_manager .module .mod_title .input.check [type="checkbox"]:disabled + label {
        color: #aaa; }
  #module_manager .module .module:last-child {
    margin: 0; }
  #module_manager .module textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical; }
  #module_manager .module p {
    margin: 5px; }
#module_manager .module:hover {
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.7); }
#module_manager .save_module {
  text-align: center;
  background: #80b2fc;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #80b2fc 0%, #245aab 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #80b2fc 0%, #245aab 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #80b2fc 0%, #245aab 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #80b2fc 0%, #245aab 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #245aab 0%, #80b2fc 100%);
  /* W3C */
  color: #fff;
  padding: 4px;
  border-top: 1px solid #CCE4F7;
  border-bottom: 1px solid #1C319B;
  cursor: pointer; }
#module_manager .move_module,
#module_manager .move_row {
  position: absolute;
  background: #222222;
  cursor: move; }
#module_manager .module.dragging .move_module,
#module_manager .move_module:hover,
#module_manager .move_row:hover {
  background-color: #82ACD8; }
#module_manager .move_row {
  top: 29px;
  bottom: 0;
  left: 0;
  width: 29px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0; }
#module_manager .move_module {
  right: 22px;
  left: 0;
  top: 0;
  height: 24px;
  color: #fff;
  -webkit-border-radius: 0 0 0;
  -moz-border-radius: 0 0 0;
  border-radius: 0 0 0; }
#module_manager .remove_row,
#module_manager .remove_module {
  text-align: center;
  cursor: pointer;
  color: #FFF;
  background: #000; }
#module_manager .remove_row:hover,
#module_manager .remove_module:hover {
  background-color: #f00; }
#module_manager .remove_row {
  position: absolute;
  width: 28px;
  height: 27px;
  left: 1px;
  top: 1px;
  line-height: 27px; }
#module_manager .remove_module {
  float: right;
  width: 22px;
  height: 24px;
  margin: -5px;
  line-height: 24px; }
#module_manager .content {
  clear: both;
  margin-top: 24px; }
#module_manager #add_row,
#module_manager #options {
  text-align: center;
  padding: 5px;
  width: 48%;
  float: left;
  background: #484848;
  color: #fff;
  margin-top: 16px; }
#module_manager #options {
  float: right; }
#module_manager #add_row #row_types,
#module_manager #options .content {
  background: #676767;
  border-radius: 4px;
  margin-top: 5px;
  padding: 5px;
  overflow: auto;
  min-height: 77px; }
#module_manager #add_row li {
  float: left;
  margin: 10px; }
#module_manager .content_column {
  position: relative; }
#module_manager td.addModule {
  border: 1px solid #444; }
#module_manager .add_module {
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #999;
  background: #484848;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #484848 0%, #3b3b3b 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #3b3b3b 0%, #484848 100%);
  /* W3C */
  color: #fff; }
#module_manager .click {
  padding: 5px;
  margin: 5px;
  background: #71a321;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #71a321 0%, #628e1d 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #71a321 0%, #628e1d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #71a321 0%, #628e1d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #71a321 0%, #628e1d 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #628e1d 0%, #71a321 100%);
  /* W3C */
  color: #fff;
  text-align: center;
  cursor: pointer; }
#module_manager .click.shown {
  background: #628e1d;
  /* Old browsers */
  background: -moz-linear-gradient(0deg, #628e1d 0%, #71a321 100%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(0deg, #628e1d 0%, #71a321 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #628e1d 0%, #71a321 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #628e1d 0%, #71a321 100%);
  /* IE10+ */
  background: linear-gradient(0deg, #71a321 0%, #628e1d 100%);
  /* W3C */ }
#module_manager .column_spans td {
  padding: 5px 11px; }
#module_manager .dragging {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.7); }

.drop {
  border: 1px dashed #6e6e6e;
  border-radius: 10px;
  padding: 5px;
  margin: 4px; }

#modulos .secundarios {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  /*-webkit-column-fill: auto;*/
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  /*-moz-column-fill: auto;*/
  column-count: 3;
  column-gap: 15px;
  /*column-fill: auto;*/ }
  #modulos .secundarios li:hover,
  #modulos .secundarios li.active {
    background-color: #8ecd2a; }
#modulos .principales {
  background: #4C68B1;
  border-color: #7596EB;
  width: 635px; }
  #modulos .principales li {
    display: inline-block;
    border: 1px solid rgba(235, 235, 235, 0.2);
    width: 143px;
    text-align: center;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center 9px;
    background-color: #5C7BCC; }
  #modulos .principales li:hover,
  #modulos .principales li.active {
    background-color: #7b96cc; }
  #modulos .principales #mod_t_23 {
    background-image: url("../admin/images/modules/ico_breadcrumbs.png"); }
  #modulos .principales #mod_t_8 {
    background-image: url("../admin/images/modules/ico_content.png"); }
  #modulos .principales #mod_t_18 {
    background-image: url("../admin/images/modules/ico_menu.png"); }
  #modulos .principales #mod_t_12 {
    background-image: url("../admin/images/modules/ico_titulo.png"); }
#modulos ul {
  display: inline-block;
  background: #626262;
  border: 2px solid #767676;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 5px;
  opacity: 1;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  width: 194px; }
#modulos li {
  padding: 5px;
  cursor: pointer; }
#modulos #group_2,
#modulos #group_4 {
  padding-left: 33px;
  width: 166px; }
#modulos #group_2 {
  background: url(../admin/images/menu/ico_catalogo.png) no-repeat 8px 7px; }
#modulos #group_4 {
  background: url(../admin/images/menu/ico_usuarios.png) no-repeat 8px 7px; }

.StickyWinInstance .body {
  color: #fff; }
.StickyWinInstance #logo_dejabu,
.StickyWinInstance #header {
  display: none; }

.DefaultStickyWin h1 {
  color: #f00;
  font-size: 14px;
  padding: 6px 0 5px 0; }
.DefaultStickyWin #container {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0;
  -webkit-box-shadow: none; }
  .DefaultStickyWin #container p {
    margin: 10px 0; }

#mapaContent {
  position: relative; }
  #mapaContent #ubicacion {
    position: absolute;
    background: black;
    padding: 5px 10px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.74);
    cursor: move; }

.content.secciones {
  width: 244px;
  padding: 5px;
  margin: 5px;
  border: 1px dashed #6e6e6e;
  border-radius: 10px;
  padding: 5px;
  margin: 4px;
  position: relative; }

.default .file {
  width: 33px;
  height: 45px;
  background: #6e6e6e url("../admin/images/ico_file.png") no-repeat center center;
  position: relative;
  margin: 0 auto; }
.default .extension {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  line-height: 11px;
  font-family: century gothic;
  margin: 8px 0px 0px -9px;
  text-transform: uppercase;
  width: 48px;
  text-align: center;
  margin-left: -24px; }

.audio .file {
  background: #6e6e6e url("../admin/images/ico_audio.png") no-repeat center center; }

.video .file {
  background: #6e6e6e url("../admin/images/ico_video.png") no-repeat center center; }

.row_controls {
  padding: 7px;
  margin-bottom: 10px;
  background: #363636;
  overflow: hidden; }
  .row_controls > div {
    float: left;
    width: 50%; }

ul.galeria {
  margin: 0;
  position: relative; }
  ul.galeria li {
    width: 44%;
    float: left;
    overflow: hidden;
    margin: 5px;
    background: #626262;
    border-radius: 3px; }
    ul.galeria li .enabled {
      background: #71a321; }
    ul.galeria li img {
      max-width: 100%;
      display: block;
      margin: 0;
      border: none !important;
      border-radius: 0 !important; }
    ul.galeria li a {
      display: block; }
    ul.galeria li .eliminar {
      border: none;
      position: absolute;
      top: 0;
      right: 5px; }
    ul.galeria li .nombre {
      color: #FFF;
      border-top: 2px solid;
      border-radius: 0;
      float: none;
      width: 100%;
      text-align: center; }
    ul.galeria li .progress-bar {
      background-color: rgba(43, 43, 43, 0.61);
      height: 7px;
      padding: 3px;
      position: absolute;
      top: 3px;
      left: 2px;
      right: 2px; }
      ul.galeria li .progress-bar .message {
        display: none; }

#themes .listado {
  height: auto; }
#themes img {
  max-width: 100%; }

.color-field {
  width: 38% !important; }

.colorpicker-container {
  z-index: 1; }

#backgrounds {
  width: 260px; }
  #backgrounds ul.galeria li {
    width: 95%; }

ul ul {
  margin: 13px; }

.column_spans,
.column_offsets,
.column_pull,
.column_push {
  overflow: hidden;
  background: #222222;
  padding: 8px; }

.width_33 {
  margin-right: 14px;
  float: left; }

.width_33 input {
  width: 26px;
  text-align: center; }

.column_spans .title,
.column_pull .title,
.column_push .title,
.column_offsets .title {
  border-bottom: 1px solid #71a321;
  margin-bottom: 10px;
  padding-bottom: 2px;
  color: #71a321; }

#version {
  position: fixed;
  bottom: 5px;
  right: 5px;
  color: #8a8a8a;
  font-size: 10px; }

#seccionesAsignadas a.eliminar {
  display: none; }

.width_50 {
  width: 50%;
  float: left; }

#cart_summary,
#cart_items {
  width: 100%;
  border-collapse: collapse; }
  #cart_summary th,
  #cart_items th {
    background-color: #444; }
  #cart_summary th,
  #cart_summary td,
  #cart_items th,
  #cart_items td {
    border: 1px solid #848484;
    padding: 10px; }

.category_discount {
  position: relative !important; }
  .category_discount li {
    margin-top: 10px; }
  .category_discount label {
    padding: 5px 12px 5px 5px;
    margin-left: 11px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #333;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.28);
    cursor: pointer; }
  .category_discount input {
    vertical-align: middle; }

.permission {
  background: #484848;
  margin-left: 11px;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.28); }
  .permission .inputs {
    padding: 5px 12px 5px 5px; }
  .permission label {
    background: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    border: none; }
  .permission h4 {
    background: black;
    padding: 5px 10px; }

.alert-badge {
  background: #ffd400;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: inline-block;
  font-weight: bold;
  color: #000; }

.input > label + span {
  background: #585858;
  border: 1px solid #333;
  line-height: 25px;
  display: block;
  box-sizing: border-box; }

#comments h5 {
  margin: 0; }
#comments .date {
  margin-bottom: 10px;
  border-bottom: 1px solid; }
#comments .data > .columns > div {
  text-align: left;
  background: #2f2f2f;
  margin: 5px 0;
  padding: 10px;
  position: relative; }
#comments .data > .columns > .support {
  background: #2f2f2f; }
#comments .data > .columns > .user {
  background: #222222; }
#comments .data .badge {
  border-radius: 3px;
  position: absolute;
  right: 5px;
  top: 5px;
  background: #82ACD8;
  color: #292929;
  padding: 2px 4px;
  font-size: 9px; }
#comments .data .file {
  padding: 5px;
  display: block;
  background: #565656;
  margin-top: 10px; }

/*# sourceMappingURL=admin.css.map */
