html,body{
	margin:0;
	padding:5px;
	font-family:Arial;
}
div,p,li,td,th{
	font-size:12px;
	text-align:justify;
	color:#00f;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
table td{
	border:1px solid #999;
	padding:2px 5px;
}

img{
	margin:10px;
	border:5px solid #ccc;
}

.align-left {
	float:left;
	margin-right: 10px;
}

.align-right {
	float:right;
	margin-left: 10px;
}
