#imageManipWindow {
    z-index: 500 !important;
}

#imageManipWindow #cropImageMask {
	background: rgba(0,0,0,0);
}

#imageManipWindow .control_bar {
	background-image: linear-gradient(bottom, #518000 0%, #8AB41F 100%);
	background-image: -o-linear-gradient(bottom, #518000 0%, #8AB41F 100%);
	background-image: -moz-linear-gradient(bottom, #518000 0%, #8AB41F 100%);
	background-image: -webkit-linear-gradient(bottom, #518000 0%, #8AB41F 100%);
	background-image: -ms-linear-gradient(bottom, #518000 0%, #8AB41F 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #518000),
		color-stop(1, #8AB41F)
	);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#8AB41F', endColorstr='#518000');/*For IE7-8-9*/
	height: 35px;
	z-index: 10;
	position: relative;
}

#imageManipWindow .slider {
	background: white;
	height: 12px;
	width: 200px;
	top: 12px;
	left: 17px;
	border-radius: 8px;
}
#imageManipWindow .slider .knob {
	background: black;
	width: 18px;
	height: 18px;
	border-radius: 15px;
	margin-top: -3px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.85);
	cursor: pointer;
}

#imageManipWindow .placeImage,
#imageManipWindow .h_placeImage,
#imageManipWindow .v_placeImage,
#imageManipWindow .resetImage {
	top: 7px;
	cursor: pointer;
}

#imageManipWindow  .placeImage {
	right: 20px;
	background: url(../admin/images/imgManip/ico_ajust_auto.png);
	width: 17px;
	height: 21px;
}

#imageManipWindow  .h_placeImage {
	right: 84px;
	background: url(../admin/images/imgManip/ico_ajust_horiz.png);
	width: 23px;
	height: 21px;
}

#imageManipWindow .v_placeImage {
	right: 119px;
	width: 23px;
	height: 21px;
	background: url(../admin/images/imgManip/ico_ajust_vert.png);
}

#imageManipWindow .resetImage {
	right: 49px;
	background: url(../admin/images/imgManip/ico_reset.png);
	width: 23px;
	height: 21px;
}

#imageManipWindow .applyButton {
	right: 20px;
	background: #000;
	width: 16px;
	height: 16px;
	bottom: 0;
}

#imageManipWindow .dimensions {
    color: black;
    left: 50%;
    margin-left: -115px;
    top: 11px;
    font-size: 14px;
}

#imageManipWindow .mask {
	background: rgba(0,0,0,0.6);
	position: absolute;
}

#imageManipWindow #maskWrapper {
	z-index: 10;
	cursor: move;
}

#imageManipWindow #handle_container {
    border: 1px dotted #f00;
    position: absolute;
}

#imageManipWindow .handle {
    position: absolute;
    background: #f00;
    width: 10px;
    height: 10px;
    cursor: nwse-resize;
}

#imageManipWindow .handle.top {
    top: 0;
}

#imageManipWindow .handle.left {
    left: 0;
}

#imageManipWindow .handle.bottom {
    bottom: 0;
}

#imageManipWindow .handle.right {
    right: 0;
}

#imageManipWindow .handle.top.left,
#imageManipWindow .handle.bottom.right {
    cursor: nwse-resize;
}

#imageManipWindow .handle.bottom.left,
#imageManipWindow .handle.top.right {
    cursor: nesw-resize;
}

#imageManipWindow .tip-wrap {
	z-index: 10000;
}
