@import "../../../packages/flexcms/general_functions";
@import "colors";

body {
  font-family: Arial, Helvetica, sans-serif;
}

fieldset,
div {
  box-sizing: border-box;
}

.no-print,
.scrollbar,
#header,
#content,
.columnas > .contenido > *,
.contenido_col:not(.print),
#version {
  display: none;
}

.columnas {
  width: auto !important;
  min-width: inherit !important;
}

.contenido_col.print {
  display: block;
}

.field {

  border: 1px solid;
  clear: both;
  padding: 15px;
  overflow: hidden;
  margin: 10px 0;

  .header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 1px solid;
    margin-bottom: 21px;
  }
}

fieldset {
  border: 1px solid;
  margin: 10px 0;
}

legend {
  background-color: #fff;
}

.w50 {
  width: 50%;
  float: left;
}