@import "../../../packages/flexcms/general_functions";
@import "colors";

.tabs {

  li {
    display: inline-block;
    background: $enabled-color;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  li.active {
    background: $secondary-color;
    cursor: default;
  }

}

table.bordered {
  border-collapse: collapse;
  width: 100%;

  td,
  th {
    border: 1px solid #4E4E4E;
    padding: 7px;
  }

  th {
    background-color: #353535;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
  }

  th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
  }

}

.w50 {
  width: 49.3%;
}

.w20 {
  width: 20%;
}
.w80 {
  width: 80%;
}

.w20,
.w50,
.w80 {
  box-sizing: border-box;
  float: left;
}

a.buscar {
  width: 100% !important;
  margin: 0;
  padding: 0 !important;
  line-height: 39px;
  height: 100%;
}