/*
---
description: Unobtrusive modern scrollbar for elements with fixed heights
license: MIT
copyright: Copyright (c) 2011 by Julian Lam (julianlam).
authors:
- Julian Lam (julianlam)
...
*/

/* Scrollbar CSS */
.scrollbar {
	width: 21px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	visibility: hidden;
    z-index: 1;
}

.scrollbar .knob {
    background: #616161;
	width: 5px;
	height: 50px;
	margin: 0 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	-moz-opacity: 0.55;
	opacity: 0.55;
}

.scrollbar .knob:hover {
	-moz-opacity: 1;
	opacity: 1;
}
/* End Scrollbar CSS */
