@import "colors";

.table_editor {

  position: relative;
  margin-top: 38px;
  margin-left: 24px;

  table {
    border-collapse: collapse;
    float: left;
  }

  td,
  th {
    padding: 5px;
    border: 1px solid darken($primary-color, 10%);
    height: 30px;
  }

  .tableGrid {

    .bot_editCell {
      content: "";
      position: absolute;
      left: 0;
      right: 5px;
      top: 0;
      bottom: 5px;
    }

    th:not(.delete_row):not(.delete_column),
    td:not(.delete_row):not(.delete_column) {
      min-width: 20px;
      position: relative;
    }

    .bot_mergeCell,
    .bot_mergeCellVert {
      content: "";
      position: absolute;
      background: rgba(255, 255, 255, 0.71);
    }

    .bot_mergeCell {
      right: 0;
      top: 0;
      bottom: 0;
      width: 5px;
      cursor: e-resize;
    }

    .bot_mergeCellVert {
      right: 0;
      left: 0;
      bottom: 0;
      height: 5px;
      cursor: s-resize;
    }

    th[colspan],
    td[colspan] {
      .bot_mergeCell,
      .bot_editCell {
        top: 7px;
      }
    }

  }

  th {
    background: darken($primary-color, 15%);
    text-align: center;
  }

  .cellinput {
    position: absolute;
    border: 1px solid;
  }

  .add_row,
  .add_column {
    background: #4B4B4B url("../admin/images/ico_add.png") no-repeat center center;
  }

  .add_row {
    text-align: center;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    clear: both;
    padding: 11px 0;
  }

  .tbleColumnCont {
    overflow: auto;
    text-align: center;
  }

  .add_column {
    float: left;
    padding: 0 11px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }

  td.no_edit {
    border: none !important;
    padding: 0 !important;
  }

  .delete_column {
    padding: 0 !important;
    height: 0 !important;
    .bot_mergeCell {
      display: none;
    }
  }

  .delete_row {
    padding: 0 !important;
  }

  .delete_column,
  .delete_row {
    .bot_editCell,
    .bot_separateCellVert,
    .bot_separateCell,
    .bot_mergeCell,
    .bot_mergeCellVert {
      display: none;
    }
  }

  .bot_deleteColumn,
  .bot_deleteRow {
    width: 20px;
    height: 20px;
    background: url(../admin/images/icono_eliminar.png) center center no-repeat;
    position: absolute;
    cursor: pointer;
  }

  tr {
    td:last-child .bot_mergeCell,
    th:last-child .bot_mergeCell {
      display: none;
    }
  }

  tr:last-child > td > .bot_mergeCellVert {
    display: none;
  }

  .bot_separateCell {
    display: none;
    height: 7px;
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.71);
    top: 0;
    cursor: ew-resize;
  }

  [colspan] {
    .bot_separateCell {
      display: block;
    }
  }

  .bot_deleteColumn {
    margin-top: -26px;
  }

  .bot_deleteRow {
    margin-left: -26px;
  }

  .tableGrid {
    height: auto !important;
  }

  .tableGridInput {
    display: none;
  }

}