/* Tree CSS */
ul.tree, ul.tree li, ul.tree ul {
	position: relative;
	zoom: 1;
}

ul.tree li, li.drag, li.drag ul li  {
	/*margin: 0;*/
	line-height: 19px;
	list-style-type: none;
}

ul.tree, ul.tree ul, li.drag ul {
	margin: 0;
	padding: 0;
}

ul.tree li span, li.drag span {
	display: block;
}

ul.tree li {
	list-style-type: none;
	line-height: 17px;
}

ul.tree li.nodrop {
	background-image: url(../Assets/Blocked.png);
}

ul.tree li.nodrop span {
	color: #800;
}

ul.tree li.nodrag span {
	color: #999;
}

div.treeIndicator {
	width: 100px;
	height: 1px;
	background-color: #ffffff;
	z-index: 50;
    position: absolute;

	/* For IE */
	overflow: hidden;
	line-height: 1px;
}

li.treedrag span.dispose {
	display: none;
}

span.dispose {
	float: right;
	color: #800;
}

ul.tree,
ul.tree ul {
	margin:0;
	padding:0;
	list-style:none;
}

ul.tree {
	margin-left: -4px !important;
}

ul.tree ul {
	position:relative;
}

ul.tree:before,
ul.tree ul:before {
	content:"";
	display:block;
	width:0;
	position:absolute;
	top: -6px;
	bottom:0;
	left: 14px;
	border-left:1px solid;
}

ul.tree li {
	margin:0;
	padding-left: 27px; /* indentation + .5em */
	line-height:2em; /* default list item's `line-height` */
	font-weight:bold;
	position:relative;
}

ul.tree li:before {
	content:"";
	display:block;
	width:14px; /* same with indentation */
	height:0;
	border-top:1px solid;
	margin-top:-1px; /* border top width */
	position:absolute;
	top: 17px;
	left: 14px;
}

ul.tree li:last-child:before {
	background:#292929; /* same with body background */
	height:auto;
	top: 17px;
	bottom:0;
}