.filedrag {
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
    color: #2f2f2f;
    border: 2px dashed #2f2f2f;
	border-radius: 7px;
	cursor: default;
}

.filedrag.hover {
	color: #28c000;
	border-color: #28c000;
	border-style: solid;
}

ul.list img {
	max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
}

ul.list li {
    position: relative;
}

ul.list li .button.edit {
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.7;
    z-index: 1;
}

ul.list li .button.edit.loading {
    background-image: url("../../assets/admin/images/ajax-loader_small-trans.gif");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: 49px center;
}

ul.list li .button.edit:hover {
    background-color: #61874e;
}

pre {
    font-family: monospace;
    font-size: 0.9em;
    padding: 7px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #666666;
    overflow: auto;
}

audio {
    width: 100%;
}

.progress-bar {
    background-color: #2B2B2B;
    height: 25px;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    position: relative;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.progress-bar .message {
    position: absolute;
    top: 11px;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 11px;
}

.progress-bar.success span,
.progress-bar.error span {
    background-image: none !important;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.progress-bar.success span {
    background-color: #00BCE0 !important;
    width: 100% !important;
}

.progress-bar.error span {
    background-color: #A80000 !important;
}

.progress-bar.blue span {
     background-color: #003eaf;
}

.progress-bar.green span {
    background-color: #0eaf00;
}

.progress-bar.stripes span {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);

    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.list .image img {
    border-radius: 4px;
    border: 4px solid #222;
}