textarea,iframe{width:734px;height:200px;margin:0;border:none;overflow:auto;font-size:12px}

.wysiwyg{border:1px solid #ccc}

.toolbar{padding:5px;overflow:hidden;border-bottom:1px solid #eee;background:#f9f9f9} * html .toolbar{height:0}

.toolbar *{display:block;margin:0 1px;padding:1px 2px;border:1px solid #eee;width:16px;height:16px;float:left;background-repeat:no-repeat;background-position:center;cursor:default} * html .toolbar *{width:22px;height:18px}
.toolbar *:hover{background-color:#ffffb0;border-color:#999}

.toolbar .spacer{border:none;width:0px;margin:2px 5px;border-right:2px solid #ccc}
.toolbar .strong{background-image:url(../images/editor/strong.png)}
.toolbar .em{background-image:url(../images/editor/em.png)}
.toolbar .u{background-image:url(../images/editor/underline.png)}
.toolbar .superscript{background-image:url(../images/editor/superscript.png)}
.toolbar .subscript{background-image:url(../images/editor/subscript.png)}
.toolbar .left{background-image:url(../images/editor/left.png)}
.toolbar .center{background-image:url(../images/editor/center.png)}
.toolbar .right{background-image:url(../images/editor/right.png)}
.toolbar .indent{background-image:url(../images/editor/indent.png)}
.toolbar .outdent{background-image:url(../images/editor/outdent.png)}
.toolbar .h1{background-image:url(../images/editor/h1.png)}
.toolbar .h2{background-image:url(../images/editor/h2.png)}
.toolbar .h3{background-image:url(../images/editor/h3.png)}
.toolbar .ul{background-image:url(../images/editor/ul.png)}
.toolbar .ol{background-image:url(../images/editor/ol.png)}
.toolbar .p{background-image:url(../images/editor/p.png)}
.toolbar .img{background-image:url(../images/editor/img.png)}
.toolbar .link{background-image:url(../images/editor/link.png)}
.toolbar .unlink{background-image:url(../images/editor/unlink.png)}
.toolbar .clean{background-image:url(../images/editor/clean.png)}
.toolbar .toggle{background-image:url(../images/editor/code.png)}

.toolbar.disabled *{opacity:0.3;-moz-opacity:0.3;filter:alpha(opacity=30)}
.toolbar.disabled *:hover{background-color:transparent;border-color:#eee}
.toolbar.disabled .toggle{background-image:url(../images/editor/html.png);opacity:1;-moz-opacity:1;filter:alpha(opacity=100)}


/* SAMPLE 2 */
#sample2 textarea,#sample2 iframe,#sample2 .wysiwyg{width:400px;height:160px}
#sample2 .wysiwyg{height:auto}


/* SAMPLE 3 */
/* SAMPLE 2 */
#sample3 textarea,#sample3 iframe,#sample3 .wysiwyg{height:400px}
#sample3 .wysiwyg{height:auto}
#imgs{padding:5px;height:58px;overflow:auto;background:#ccc} * html #imgs{height:0}
#imgs img{display:block;height:48px;margin:5px;float:left}
#sample3 form{border:1px solid #ccc;display:block;padding:8px 16px;text-align:right}
#sample3 form input{padding:0 5px}

.hidden{display:none !important}