/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.facebook.list {
  overflow: hidden;
  max-width: 726px;
  margin: 30px auto; }

.trabajo.loading {
  background: #BB1E5D;
  color: #fff;
  text-align: center;
  overflow: hidden; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 1.7em;
  height: 3.2em;
  background: #BB1E5D;
  border-radius: 3.2em 0 0 3.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 1.7em 1.6em;
  transform-origin: 1.7em 1.6em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 1.5em auto;
  position: relative;
  width: 3em;
  height: 3em;
  box-shadow: inset 0 0 0 0.375em #FFF; }

.loader:after {
  width: 1.7em;
  height: 3.2em;
  background: #BB1E5D;
  border-radius: 0 3.2em 3.2em 0;
  top: -0.1em;
  left: 1.6em;
  -webkit-transform-origin: 0px 1.6em;
  transform-origin: 0px 1.6em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

.trabajo {
  transform: translateZ(0); }
  .trabajo .images {
    overflow: hidden; }
    .trabajo .images a {
      display: block;
      position: relative;
      border: 3px solid #fff;
      overflow: hidden; }
      .trabajo .images a .image,
      .trabajo .images a span {
        transition-timing-function: ease-in-out;
        -webkit-transition: all 400ms;
        -moz-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms; }
      .trabajo .images a .image {
        border: 1px solid #C6C8CA;
        display: inline-block;
        overflow: hidden; }
      .trabajo .images a .image:hover {
        border: 1px solid #84888d; }
      .trabajo .images a span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; }
  .trabajo .small .image span {
    background-size: cover;
    background-position: center center; }
  .trabajo .horizontal .large {
    width: 100%; }
  .trabajo .horizontal .small {
    width: 100%; }
    .trabajo .horizontal .small a {
      width: 33.333333%;
      padding-top: 33.333333%;
      float: left; }
  .trabajo .vertical .large {
    float: left;
    width: 70%; }
  .trabajo .vertical .small {
    width: 30%;
    float: right; }
    .trabajo .vertical .small .image {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%; }
  .trabajo .single img,
  .trabajo .single .large {
    width: 100%; }

/*# sourceMappingURL=facebook_feed.css.map */
