@import "../../../packages/flexcms/general_functions";

$loader_size: 3em;
$loader_color: #BB1E5D;
$ring_width: $loader_size / 8;

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.facebook.list {
  overflow: hidden;
  max-width: 726px;
  margin: 30px auto;
}

.trabajo.loading {
  background: $loader_color;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: ($loader_size / 2) + 0.2em;
  height: $loader_size + 0.2em;
  background: $loader_color;
  border-radius: $loader_size + 0.2em 0 0 $loader_size + 0.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: ($loader_size / 2) + 0.2em ($loader_size / 2) + 0.1em;
  transform-origin: ($loader_size / 2) + 0.2em ($loader_size / 2) + 0.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: $loader_size / 2 auto;
  position: relative;
  width: $loader_size;
  height: $loader_size;
  box-shadow: inset 0 0 0 $ring_width #FFF;
}
.loader:after {
  width: ($loader_size / 2) + 0.2em;
  height: $loader_size + 0.2em;
  background: $loader_color;
  border-radius: 0 $loader_size + 0.2em $loader_size + 0.2em 0;
  top: -0.1em;
  left: ($loader_size / 2) + 0.1em;
  -webkit-transform-origin: 0px ($loader_size / 2) + 0.1em;
  transform-origin: 0px ($loader_size / 2) + 0.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

.trabajo {

  transform: translateZ(0);

  .images {

    overflow: hidden;

    a {

      display: block;
      position: relative;
      border: 3px solid #fff;
      overflow: hidden;

      .image,
      span {
        @include transition();
      }

      .image {
        border: 1px solid #C6C8CA;
        display: inline-block;
        overflow: hidden;
      }

      .image:hover {
        border: 1px solid darken(#C6C8CA, 25%);
      }

      span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
      }

    }
  }

  .small {
    .image span {
      background-size: cover;
      background-position: center center;
    }
  }

  .horizontal {
    .large {
      width: 100%;
    }
    .small {
      width: 100%;
      a {
        width: 33.333333%;
        padding-top: 33.333333%;
        float: left;
      }
    }
  }

  .vertical {
    .large {
      float: left;
      width: 70%;
    }
    .small {

      width: 30%;
      float: right;

      .image {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }

    }
  }

  .single {
    img,
    .large {
      width: 100%;
    }
  }

}